<!DOCTYPE html>
<html>
<head>
    <title>noeh</title>
    <%= stylesheet_link_tag "estilo.css" %>

    <%= stylesheet_link_tag "#{@cor}.css" %>

    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body class="deslogado">

<div id="fb-root"></div>

<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '<%= APP_CONFIG['id_app_facebook'] %>',
            status     : false, // check login status
            cookie     : true, // enable cookies to allow the server to access the session
            xfbml      : true  // parse XFBML
        });

        function checarLoginSistema(nomeFacebook, emailFacebook, nascimento, urlFotoPequena, urlFotoGrande) {
            console.log(nomeFacebook);
            console.log(emailFacebook);
            console.log(nascimento);
            console.log(urlFotoPequena);
            console.log(urlFotoGrande);

            $.post("<%= log_in_url %>",
                    {
                        "nome_facebook": nomeFacebook,
                        "email_facebook": emailFacebook,
                        "nascimento": nascimento,
                        "url_foto_pequena": urlFotoPequena,
                        "url_foto_grande": urlFotoGrande
                    },
                    function (resposta) {
                        if (resposta == "ok") {
                            window.location.href = "<%= root_url %>";
                        }
                        else {
                            $("#erro_login").html("Você não está permitido a usar o sistema.");
                            $("#link_fb").hide();
                        }
                    }
            );
        }

        function checarLoginFacebook(response) {
            if (response.status === 'connected') {
                FB.api('/me?fields=email,picture,name,birthday', function (response) {
                    var nomeFacebook = response.name;
                    var emailFacebook = response.email;
                    var nascimento = response.birthday;

                    var urlFotoGrande = null;
                    var urlFotoPequena = null;

                    if (!response.picture.data.is_silhouette) {
                        urlFotoPequena = response.picture.data.url;

                        FB.api('/me/picture?redirect=0&height=200&type=normal&width=200', function (response) {
                            urlFotoGrande = response.data.url;
                            checarLoginSistema(nomeFacebook, emailFacebook, nascimento, urlFotoPequena, urlFotoGrande);
                        });
                    }
                    else {
                        checarLoginSistema(nomeFacebook, emailFacebook, nascimento, urlFotoPequena, urlFotoGrande);
                    }

                });
            }
            else {
                if (response.status === 'not_authorized') {
                    $("#erro_login").html("Você precisa dar permissão ao sistema.");
                }
                $("#link_fb").show();
            }
        }

        function atualizarBotaoFacebook(nomeFacebook, emailFacebook, nascimento, urlFotoPequena, urlFotoGrande) {
            $("#msg_principal").html("Entrar como " + nomeFacebook + "<br/>(usuário logado no Facebook no momento)");

            if (urlFotoPequena != null) {
                $("#imagem_usuario_facebook").attr("src", urlFotoPequena);
                $("#imagem_usuario_facebook").show();
            }

            $("#link_fb").on("click", function (e) {
                e.preventDefault();
                checarLoginSistema(nomeFacebook, emailFacebook, nascimento, urlFotoPequena, urlFotoGrande);
            });
        }

        FB.getLoginStatus(function (response) {
            if (response.status === 'connected') {
                var nomeFacebook = null;
                var emailFacebook = null;
                var nascimento = null;
                var urlFotoPequena = null;
                var urlFotoGrande = null;

                FB.api('/me?fields=email,picture,name,birthday', function (response) {
                    nomeFacebook = response.name;
                    emailFacebook = response.email;
                    nascimento = response.birthday;

                    if (!response.picture.data.is_silhouette) {
                        urlFotoPequena = response.picture.data.url;

                        FB.api('/me/picture?redirect=0&height=200&type=normal&width=200', function (response) {
                            urlFotoGrande = response.data.url;
                            atualizarBotaoFacebook(nomeFacebook, emailFacebook, nascimento, urlFotoPequena, urlFotoGrande);
                        });
                    }
                    else {
                        atualizarBotaoFacebook(nomeFacebook, emailFacebook, nascimento, urlFotoPequena, urlFotoGrande);
                    }
                });
            }
            else {
                $("#link_fb").on("click", function (e) {
                    e.preventDefault();
                    FB.login(function(response) {
                        checarLoginFacebook(response);
                    }, {scope: 'email,user_birthday'});
                });
            }
        });
    };

    // Load the SDK Asynchronously
    (function(d){
        var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.com/pt_BR/all.js";
        d.getElementsByTagName('head')[0].appendChild(js);
    }(document));
</script>

<%
    pessoas = Pessoa.where("url_foto_grande != ''").sample(20)

    if pessoas.count > 0
        while pessoas.length < 50 do
            pessoas += pessoas
        end

        pessoas = pessoas.shuffle
    end
%>

<div id="faixa_principal">
    <div id="faixa_principal_extrapolada">
        <% pessoas.each do |pessoa| %>
            <img src="<%= pessoa.url_foto_grande %>" class="imagens_faixa_principal" />
        <% end %>
    </div>

    <div id="overlay_faixa_principal"></div>

    <div id="central_faixa_principal">
        <div id="imagem_noeh_deslogado"></div><br/>
        Sistema de cadastro na igreja
        <p/>
        <a class="link_entrar_pelo_facebook" id="link_fb" href="#">
            <img id="imagem_usuario_facebook" src="" class="imagem_usuario_facebook"/>
            <span id="msg_principal">Entre no sistema usando sua conta de Facebook</span>
        </a>
        <div id="erro_login" class="msg_erro erro_login"></div>
    </div>
</div>

</body>
</html>