<!DOCTYPE html>
<html>
<head>
    <%= favicon_link_tag 'favicon.ico' %>

    <title>noeh</title>
    <%= stylesheet_link_tag "estilo.css" %>

    <%= stylesheet_link_tag "#{@cor}.css" %>

    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body class="deslogado">

<div id="fb-root"></div>

<script>
   window.fbAsyncInit = function() {
       FB.init({
           appId      : '<%= APP_CONFIG['id_app_facebook'] %>',
           status     : false, // check login status
           cookie     : true, // enable cookies to allow the server to access the session
           xfbml      : true,  // parse XFBML
           version    : 'v2.0'
       });

       function executar(atualizarBotao, nome, idAppFacebook, nascimento, ehHomem, urlFotoPequena, urlFotoGrande, urlFacebook, casado,
                         idAppFacebookConjuge, nascimentoConjuge, ehHomemConjuge, urlFacebookConjuge, urlFotoGrandeConjuge) {
           if (atualizarBotao) {
               atualizarBotaoFacebook(nome, idAppFacebook, nascimento, ehHomem, urlFotoPequena, urlFotoGrande, urlFacebook, casado,
                       idAppFacebookConjuge, nascimentoConjuge, ehHomemConjuge, urlFacebookConjuge, urlFotoGrandeConjuge);
           }
           else {
               fazerLoginNoSistema(idAppFacebook, nascimento, ehHomem, urlFotoGrande, urlFacebook, casado,
                       idAppFacebookConjuge, nascimentoConjuge, ehHomemConjuge, urlFacebookConjuge, urlFotoGrandeConjuge);
           }
       }

       function pegarDadosDoFacebookEConsultarNoSistema(atualizarBotao) {
           FB.api('/me?fields=email,picture,name,gender,birthday,link,relationship_status,significant_other', function (response) {
               var nome = response.name;
               var idAppFacebook = response.id;
               var nascimento = response.birthday;
               var ehHomem = response.gender == 'male';
               var urlFacebook = response.link;
               var urlFotoGrande = null;
               var urlFotoPequena = null;

               var idAppFacebookConjuge = null;
               var nascimentoConjuge = null;
               var ehHomemConjuge = null;
               var urlFacebookConjuge = null;
               var urlFotoGrandeConjuge = null;

               var casado = false;
               if (response.relationship_status == 'Married') {
                   casado = true;
               }

               if (!response.picture.data.is_silhouette) {
                 urlFotoPequena = response.picture.data.url;

                 FB.api('/me/picture?redirect=0&height=200&type=normal&width=200', function (response) {
                   urlFotoGrande = response.data.url;

                   if (!casado) {
                     executar(atualizarBotao, nome, idAppFacebook, nascimento, ehHomem, urlFotoPequena, urlFotoGrande, urlFacebook, casado,
                             idAppFacebookConjuge, nascimentoConjuge, ehHomemConjuge, urlFacebookConjuge, urlFotoGrandeConjuge);
                   }
                 });
               }
               else {
                 if (!casado) {
                   executar(atualizarBotao, nome, idAppFacebook, nascimento, ehHomem, urlFotoPequena, urlFotoGrande, urlFacebook, casado,
                           idAppFacebookConjuge, nascimentoConjuge, ehHomemConjuge, urlFacebookConjuge, urlFotoGrandeConjuge);
                 }
               }

               if (casado) {
                 if (response.significant_other != null) {
                   var idConjuge = response.significant_other.id;

                   FB.api('/' + idConjuge + '?fields=email,picture,name,birthday,link,gender', function (response) {
                     idAppFacebookConjuge = response.id;
                     nascimentoConjuge = response.birthday;
                     ehHomemConjuge = response.gender == "male";
                     urlFacebookConjuge = response.link;

                     if (!response.picture.data.is_silhouette) {
                       FB.api('/' + idConjuge + '/picture?redirect=0&height=200&type=normal&width=200', function (response) {
                         urlFotoGrandeConjuge = response.data.url;
                         executar(atualizarBotao, nome, idAppFacebook, nascimento, ehHomem, urlFotoPequena, urlFotoGrande, urlFacebook, casado,
                                 idAppFacebookConjuge, nascimentoConjuge, ehHomemConjuge, urlFacebookConjuge, urlFotoGrandeConjuge);
                       });
                     }

                     else {
                       executar(atualizarBotao, nome, idAppFacebook, nascimento, ehHomem, urlFotoPequena, urlFotoGrande, urlFacebook, casado,
                               idAppFacebookConjuge, nascimentoConjuge, ehHomemConjuge, urlFacebookConjuge, urlFotoGrandeConjuge);
                     }
                   });
                 }
                 else {
                   executar(atualizarBotao, nome, idAppFacebook, nascimento, ehHomem, urlFotoPequena, urlFotoGrande, urlFacebook, casado,
                           idAppFacebookConjuge, nascimentoConjuge, ehHomemConjuge, urlFacebookConjuge, urlFotoGrandeConjuge);
                 }
               }

           });
       }

        function fazerLoginNoSistema(idAppFacebook, nascimento, ehHomem, urlFotoGrande, urlFacebook, casado,
                                     idAppFacebookConjuge, nascimentoConjuge, ehHomemConjuge, urlFacebookConjuge, urlFotoGrandeConjuge) {
            $("#msg_principal #texto").html("Checando login no noeh...");
            $(".img_spinner").show();

            $("#link_fb").off("click");
            $("#link_fb").on("click", function (e) {
              e.preventDefault();
            });

            $.post("<%= log_in_url %>",
                    {
                        "id_app_facebook": idAppFacebook,
                        "nascimento": nascimento,
                        "eh_homem": ehHomem,
                        "url_foto_grande": urlFotoGrande,
                        "url_facebook": urlFacebook,
                        "casado": casado,
                        "id_app_facebook_conjuge": idAppFacebookConjuge,
                        "nascimento_conjuge": nascimentoConjuge,
                        "eh_homem_conjuge": ehHomemConjuge,
                        "url_facebook_conjuge": urlFacebookConjuge,
                        "url_foto_grande_conjuge": urlFotoGrandeConjuge
                    },
                    function (resposta) {
                        if (resposta == "ok") {
                            window.location.href = "<%= root_url %>";
                        }
                        else {
                            window.location.href = "<%= cadastrar_novo_url %>";
                        }
                    }
            );
        }

       function checarLoginFacebook(response) {
           if (response.status === 'connected') {
               pegarDadosDoFacebookEConsultarNoSistema(false);
           }
           else {
               if (response.status === 'not_authorized') {
                   $("#erro_login").html("Você precisa dar permissão ao sistema.");
               }
               $("#link_fb").show();
           }
       }

       function atualizarBotaoFacebook(nome, idAppFacebook, nascimento, ehHomem, urlFotoPequena, urlFotoGrande, urlFacebook, casado,
                                       idAppFacebookConjuge, nascimentoConjuge, ehHomemConjuge, urlFacebookConjuge, urlFotoGrandeConjuge) {
           $("#msg_principal #texto").html("Entrar como " + nome + "<br/>(usuário logado no Facebook no momento)");
           $(".img_spinner").hide();

           if (urlFotoPequena != null) {
               $("#imagem_usuario_facebook").attr("src", urlFotoPequena);
               $("#imagem_usuario_facebook").show();
           }

           $("#link_fb").off("click");
           $("#link_fb").on("click", function (e) {
               e.preventDefault();
               fazerLoginNoSistema(idAppFacebook, nascimento, ehHomem, urlFotoGrande, urlFacebook, casado,
                       idAppFacebookConjuge, nascimentoConjuge, ehHomemConjuge, urlFacebookConjuge, urlFotoGrandeConjuge);
           });
       }

       FB.getLoginStatus(function (response) {
           if (response.status === 'connected') {
               pegarDadosDoFacebookEConsultarNoSistema(true);
           }
           else {
               $("#msg_principal #texto").html("Entre no sistema usando sua conta de Facebook");
               $(".img_spinner").hide();

               $("#link_fb").off("click");
               $("#link_fb").on("click", function (e) {
                   e.preventDefault();

                   FB.login(function(response) {
                       checarLoginFacebook(response);
                   }, {scope: 'email, user_birthday, user_relationships'});
               });
           }
       });

       $('.link_entrar_pelo_facebook').off('click');
       $('.link_entrar_pelo_facebook').on('click', function (evento) {
            evento.preventDefault();

            pegarDadosDoFacebookEConsultarNoSistema(false);
        });
   };

   // Load the SDK Asynchronously
   (function(d){
       var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
       js = d.createElement('script'); js.id = id; js.async = true;
       js.src = "//connect.facebook.com/pt_BR/sdk.js";
       d.getElementsByTagName('head')[0].appendChild(js);
   }(document));
</script>

<%
    pessoas = Pessoa.where.not(foto_perfil: nil).sample(12)

    if pessoas.count > 0
        while pessoas.length < 80 do
            pessoas += pessoas
        end

        pessoas = pessoas.shuffle
    end
%>

<div id="faixa_principal">
    <div id="faixa_principal_extrapolada">
        <% pessoas.each do |pessoa| %>
            <img src="<%= pessoa.foto_perfil.foto.url %>" class="imagens_faixa_principal" />
        <% end %>
    </div>

    <div id="overlay_faixa_principal"></div>

    <div id="central_faixa_principal">
        <div id="imagem_noeh_deslogado"></div><br/>
        Sistema de cadastro na igreja
        <p/>
        <a class="link_entrar_pelo_facebook" id="link_fb" href="#">
            <img id="imagem_usuario_facebook" src="" class="imagem_usuario_facebook"/>
            <span id="msg_principal" style="position: relative;">
              <span class="img_spinner"></span>
              <span id="texto">Carregando...</span>
            </span>
        </a>
        <div id="erro_login" class="msg_erro erro_login"></div>
    </div>
</div>

</body>
</html>