<% 
    if @pessoa.new_record? || @usuario_logado == @pessoa || @usuario_logado == @pessoa.conjuge
      grupos_pra_inserir = Grupo.all
    else
      grupos_pra_inserir = @usuario_logado.grupos_que_coordena
    end
%>

<script>
    function setarOpcaoEscolhida(elemento) {
        $(elemento).addClass("ativo");
        $(elemento).siblings("a").removeClass("ativo");
    }

    function casadoOuSolteiro() {
        if ($("input[name=casado_ou_solteiro]:checked").val() == 'casado') {
            $(".campos_casado").show();
        }
        else {
            $(".campos_casado").hide();
        }
    }

    function alterarGeneroConjuge() {
        if ($("#acompanhar_genero_conjuge").val() == "true") {
            if ($("input[name = eh_homem_pessoa]:checked").val() == "true") {
                $("input[name = eh_homem_conjuge]").filter("[value = false]").prop("checked", true);
            }
            else {
                $("input[name = eh_homem_conjuge]").filter("[value = true]").prop("checked", true);
            }
        }
    }

    $(function () {
        alterarGeneroConjuge();

        $("input[name = eh_homem_pessoa]").on("change", function () {
            alterarGeneroConjuge();
        });

        $("#todos_os_campos_de_conjuge").find("input").on("change", function () {
            $("#acompanhar_genero_conjuge").val("false");
        });

        $("#link_enviar").on("click", function (e) {
            e.preventDefault();

            var form = $(this).closest("form");

            var nomePessoa = $('#nome_usual_pessoa').val();
            var nomeConjuge = $('#nome_usual_conjuge').val();
            var tirouFbPessoa = null;
            var tirouFbConjuge = null;

            if ($('#esta_tirando_facebook_pessoa').size() > 0) {
                tirouFbPessoa = $('#esta_tirando_facebook_pessoa').val();
            }

            if ($('#esta_tirando_facebook_conjuge').size() > 0) {
                tirouFbConjuge = $('#esta_tirando_facebook_conjuge').val();
            }

            if (tirouFbPessoa == "1" || tirouFbConjuge == "1") {
                var nomesArray = [];

                if (tirouFbPessoa == "1") {
                    nomesArray.push(nomePessoa);
                }

                if (tirouFbConjuge == "1") {
                    nomesArray.push(nomeConjuge);
                }

                var nomes = nomesArray.join(" e ");
                var plural = $(nomesArray).size() > 1;

                $("#dialog_conteudo").html("Como você removeu o Facebook de <em>" + nomes + "</em>, ");
                if (plural) {
                    $("#dialog_conteudo").append("essas pessoas perderão acesso ao sistema.");
                }
                else {
                    $("#dialog_conteudo").append("essa pessoa perderá acesso ao sistema.");
                }
                $("#dialog_conteudo").append("<br/>Tem certeza que deseja continuar?<p/>");
                $("#dialog_conteudo").append("<a href='#' class='dialog_link_confirmar' style='position: relative;'><span class='img_spinner' style='display: none;'></span><span class='texto'>Confirmar</span></a>");
                $("#dialog_conteudo").append("<a href='#' class='dialog_link_cancelar'>Cancelar</a>");
                $("#dialog").show();

                $(".dialog_link_confirmar").on("click", function (evento) {
                    evento.preventDefault();

                    $(this).on('click', function (evento) {evento.preventDefault();});
                    $(this).addClass('dialog_link_desativado');
                    $(this).children('.texto').html('Carregando...');
                    iniciarSpinners();
                    $('.dialog_link_cancelar').hide();

                    form.submit();
                });

                $(".dialog_link_cancelar").on("click", function (evento) {
                    evento.preventDefault();
                    esconderDialog();
                });

            }
            else {
                <% if modo == 'cadastrar_novo' %>
                    $("#dialog_conteudo").html("Tem <em>certeza</em> de que as informações estão corretas? Você não poderá alterá-las até que algum coordenador confirme uma de suas participações, e informações erradas podem acarretar na rejeição de seu cadastro.");
                    $("#dialog_conteudo").append("<p/>Deseja <em>continuar?</em>");
                    $("#dialog_conteudo").append("<p/><a href='#' class='dialog_link_confirmar'style='position: relative;'><span class='img_spinner' style='display: none;'></span><span class='texto'>Confirmar</span></a>");
                    $("#dialog_conteudo").append("<a href='#' class='dialog_link_cancelar'>Cancelar</a>");
                    $("#dialog").show();

                    $(".dialog_link_confirmar").on("click", function (evento) {
                        evento.preventDefault();

                        $(this).on('click', function (evento) {evento.preventDefault();});
                        $(this).addClass('dialog_link_desativado');
                        $(this).children('.texto').html('Carregando...');
                        iniciarSpinners();
                        $('.dialog_link_cancelar').hide();

                        form.submit();
                    });

                    $(".dialog_link_cancelar").on("click", function (evento) {
                        evento.preventDefault();
                        esconderDialog();
                    });
                <% else %>

                    $(this).on('click', function (evento) {evento.preventDefault();});
                    $(this).addClass('link_carregando');
                    $(this).children('.texto').html('Carregando...');
                    iniciarSpinners();
                    $('.link_cancelar').hide();

                    form.submit();
                <% end %>
            }

        });

        $("input[name=casado_ou_solteiro]").on("change", function () {
            casadoOuSolteiro();
        });

        $("#conjuge_ja_cadastrado").on("click", function (e) {
            e.preventDefault();

            setarOpcaoEscolhida($(this));

            $("#tipo_de_conjuge_escolhido").val("ja_cadastrado");

            $("#form_conjuge_ja_cadastrado").show();
            $("#form_novo_conjuge").hide();
        });

        $("#novo_conjuge").on("click", function (e) {
            e.preventDefault();

            setarOpcaoEscolhida($(this));

            $("#tipo_de_conjuge_escolhido").val("novo");

            $("#form_conjuge_ja_cadastrado").hide();
            $("#form_novo_conjuge").show();
        });

        $('.ajuda_form_facebook').on('click', function (evento) {
            evento.preventDefault();

            $("#dialog").addClass("dialog_ajuda_facebook");

            $("#dialog_conteudo").html('Qual o seu navegador? ');
            $("#dialog_conteudo").append('<a href="#" data-navegador="chrome"><em>Chrome</em></a>');
            $("#dialog_conteudo").append('<a href="#" data-navegador="ie"><em>Internet Explorer</em></a>');
            $("#dialog_conteudo").append('<a href="#" data-navegador="firefox"><em>Firefox</em></a>');

            $("#dialog_conteudo").append("<a href='#' class='dialog_link_cancelar'>Fechar</a>");

            $("#dialog").show();

            $(".dialog_ajuda_facebook a").hover(function () {
              $(this).toggleClass("link_ajuda_facebook_hover");
            });

            $(".dialog_link_cancelar").on("click", function (evento) {
                evento.preventDefault();
                esconderDialog();

                $("#dialog").removeClass("dialog_ajuda_facebook");
            });

            function mostrarAjuda(navegador) {
                $('.ajuda_facebook').empty();

                var html = "<div class='ajuda_facebook'>" +
                "Entre no perfil do Facebook desejado e use as seguintes informações:<br/>" +
                "<img src='/assets/ajuda" + navegador + ".jpg' />" +
                "</div>";

                $('#dialog_conteudo').append(html);
            }

            $(".dialog_ajuda_facebook a").on('click', function (evento) {
                evento.preventDefault();

                $(this).addClass("link_ajuda_facebook_selecionado");
                $(".dialog_ajuda_facebook a").not(this).removeClass("link_ajuda_facebook_selecionado");

                mostrarAjuda($(this).data('navegador'));
            });

        });

        $('#link_adicionar_participacao_casal').on('click', function (evento) {
            evento.preventDefault();

            $('#participacoes_casal').append(
                '<%= raw (render 'form_participacao_auto_inserir', tipo_pessoa: "casal", grupo_id: "-1", encontro_id: "-1", conjunto_id: "-1", sugestao: "", coordenador: "false", grupos: grupos_pra_inserir, mostrar_campo_lista: false, mostrar_campo_texto: false).gsub("\n", "") %>'
            );

            atualizarFuncoesAutoInserir();
        });

        $('.mascara_cep').mask(
            '00.000-000',
            {
                clearIfNotMatch: true,
                placeholder: '__.___-___'
            }
        );
    });

    var grupoEscolhido = null;
    var ehGrupoQueCoordena = false;
    var grupos = <%= raw Grupo.all.to_json() %>
    var hash_encontros = {};
    var hash_conjuntos = {};

    function atualizarFuncoesAutoInserir() {
        <% if @usuario_logado.present? %>
            var gruposQueCoordena = [<%= raw @usuario_logado.grupos_que_coordena.collect{|g| "\"#{g.id}\""}.join(", ") %>];
        <% else %>
            var gruposQueCoordena = [];
        <% end %>

        $('.grupo_participacao').off('change');
        $('.grupo_participacao').on('change', function () {
            ehGrupoQueCoordena = false;

            var idEscolhido = $(this).val();

            if (idEscolhido == '') {
                grupoEscolhido = null;
            }
            else {
                ehGrupoQueCoordena = $.inArray(idEscolhido, gruposQueCoordena) != -1;
                $.each(grupos, function (index, item) {
                    if (item.id == idEscolhido) {
                        grupoEscolhido = item;
                    }
                });
            }

            var fieldEncontros = $(this).parent().siblings('.wrapper_encontro_participacao');
            var fieldConjuntos = $(this).parent().siblings('.wrapper_conjunto_participacao');
            var fieldParticipacoes = $(this).parent().siblings('.wrapper_participacao');
            var inputAutoInserido = $(this).parent().siblings('.auto_inserido');

            if (grupoEscolhido != null) {
                if (ehGrupoQueCoordena) {
                    inputAutoInserido.val("false");
                }
                else {
                    inputAutoInserido.val("true");
                }

                if (grupoEscolhido.tem_encontros) {
                    var primeiroEncontro = null;

                    var encontros = hash_encontros[grupoEscolhido.id];

                    if (encontros == undefined) {
                        // Fazendo chamada SÍNCRONA pra pegar os encontros
                        $.ajax({
                            type: 'GET',
                            url: '<%= encontros_de_grupo_url %>?id=' + grupoEscolhido.id,
                            dataType: 'json',
                            success: function(json) { 
                                encontros = json;
                                hash_encontros[grupoEscolhido.id] = encontros;
                            },
                            async: false
                        });    
                    }

                    $(fieldEncontros).children('select').empty();
                    $.each(encontros, function (index, item) {
                        if (primeiroEncontro == null) {
                            primeiroEncontro = item;
                        }

                        var ano = item.data_inicio.substr(0, 4);

                        $(fieldEncontros).children('select').append(
                                        '<option value="' + item.id + '">' + item.nome + ' (' + ano + ')' + '</option>'
                        );
                    });

                    $(fieldEncontros).show();

                    if (primeiroEncontro != null) {
                        atualizarCampoParticipacao(primeiroEncontro.id, fieldParticipacoes, fieldEncontros, fieldConjuntos);
                    }
                    else {
                        atualizarCampoParticipacao(null, fieldParticipacoes, fieldEncontros, fieldConjuntos);
                    }
                }
                else {
                    atualizarCampoParticipacao(null, fieldParticipacoes, fieldEncontros, fieldConjuntos);
                }
            }
            else {
                inputAutoInserido.val("false");
                atualizarCampoParticipacao(null, fieldParticipacoes, fieldEncontros, fieldConjuntos);
            }
        });

        $('.remover_participacao').off('click');
        $('.remover_participacao').on('click', function (evento) {
            evento.preventDefault();
            $(this).parent().remove();
        });

        $('.checkbox_coordenador').off('change');
        $('.checkbox_coordenador').on('change', function () {
            if ($(this).prop('checked')) {
                $(this).siblings('.hidden_coordenador').val("true");
            }
            else {
                $(this).siblings('.hidden_coordenador').val("false");
            }
        });

        $('.encontro_participacao').off('change');
        $('.encontro_participacao').on('change', function () {
            var idEscolhido = $(this).val();

            var fieldConjuntos = $(this).parent().siblings('.wrapper_conjunto_participacao');
            var fieldParticipacoes = $(this).parent().siblings('.wrapper_participacao');
            var inputAutoInserido = $(this).parent().siblings('.auto_inserido');

            atualizarCampoParticipacao(idEscolhido, fieldParticipacoes, null, fieldConjuntos);
        });
    }

    function atualizarCampoParticipacao(idEncontro, fieldParticipacoes, fieldEncontros, fieldConjuntos) {
        if (idEncontro != null) {
            $(fieldParticipacoes).children('.campo_texto_sugestao').val('');

            if (ehGrupoQueCoordena) {
                carregarConjuntos(idEncontro, fieldConjuntos);
            }
            else {
                $(fieldParticipacoes).show();
            }
        }
        else {
            $(fieldEncontros).children('select').empty();
            $(fieldEncontros).children('select').append(
                    '<option value="-1"></option>'
            );

            $(fieldParticipacoes).children('.campo_texto_sugestao').val('so_grupo');

            $(fieldEncontros).add(fieldParticipacoes).hide();

            $(fieldConjuntos).children('select').empty();
            $(fieldConjuntos).children('select').append(
                    '<option value="-1"></option>'
            );
            $(fieldConjuntos).hide();
        }
    }

    function carregarConjuntos(idEncontro, fieldConjuntos) {
        var conjuntos = hash_conjuntos[idEncontro];

        if (conjuntos == undefined) {
            // Fazendo chamada SÍNCRONA pra pegar os encontros
            $.ajax({
                type: 'GET',
                url: '<%= conjuntos_para_adicionar_pessoa_url %>?encontro_id=' + idEncontro,
                dataType: 'json',
                success: function(json) { 
                    conjuntos = json;
                    hash_conjuntos[idEncontro] = conjuntos;
                },
                async: false
            });    
        }

        $(fieldConjuntos).children('select').empty();
        $.each(conjuntos, function (index, item) {
            $(fieldConjuntos).children('select').append(
                            '<option value="' + item.id + '">' + item.tipo_do_conjunto + ' ' + item.nome + '</option>'
            );
        });

        $(fieldConjuntos).show();
    }
</script>

<%
    if modo == "criando"
        form_url = pessoas_url
        form_method = :post
    elsif modo == "editando"
        form_url = pessoa_url(@pessoa)
        form_method = :put
    elsif modo == "cadastrar_novo"
        form_url = pessoas_url
        form_method = :post
    end
%>

<%= form_tag form_url, method: form_method, id: "form_pessoa" do %>

    <input type="hidden" name="onde_fez_alteracao" value="site" />
    <input type="hidden" name="modo" value="<%= modo %>" />

    <% if defined?(@conjunto) %>
        <input type="hidden" name="conjunto_id" value="<%= @conjunto.id %>" />
    <% elsif defined?(@encontro) %>
        <input type="hidden" name="encontro_id" value="<%= @encontro.id %>" />
    <% elsif defined?(@grupo) %>
        <input type="hidden" name="grupo_id" value="<%= @grupo.id %>" />
    <% end %>

    <div class="field campo_solteiro_ou_casado" <% if modo != "cadastrar_novo" && !@usuario_logado.permissoes.pode_alterar_estado_civil_de(@pessoa) %>style="display: none;"<% end %>>
      Estado civil:
      <label><%= radio_button_tag :casado_ou_solteiro, 'solteiro', (!@eh_casal) %>Solteiro</label>
      <label><%= radio_button_tag :casado_ou_solteiro, 'casado', (@eh_casal) %>Casado</label>
    </div>

    <% if @adicionar && (defined?(@conjunto) || defined?(@encontro) || defined?(@grupo)) %>
        <% 
            if !defined?(@os_dois) 
                @os_dois = true 
            end 
        %>
        <div class="field campos_casado" <% if !@eh_casal %>style="display: none;"<% end %>>
            <label><%= radio_button_tag :os_dois, true, @os_dois %>Adicionar os dois do casal</label><br/>
            <label><%= radio_button_tag :os_dois, false, !@os_dois %>Adicionar apenas a primeira pessoa do casal (o casal será criado, mas só a primeira pessoa será adicionada)</label>
        </div>
    <% end %>

    <%= render 'form_pessoa', pessoa: @pessoa, tipo_pessoa: 'pessoa', modo: modo %>

    <div class="campos_casado" <% if !@eh_casal %>style="display: none;"<% end %>>

        <div class="opcoes_conjuge">
            <h2>Cônjuge</h2>

            <%
                ativar_form_conjuge = false
                ativar_pesquisa_conjuge = false
                tipo_de_conjuge_escolhido = ""
                if defined?(@tipo_conjuge) && @tipo_conjuge == 'form'
                    ativar_form_conjuge = true
                    tipo_de_conjuge_escolhido = "novo"
                elsif defined?(@tipo_conjuge) && @tipo_conjuge == 'ja_cadastrado'
                    ativar_pesquisa_conjuge = true
                    tipo_de_conjuge_escolhido = "ja_cadastrado"
                end
            %>

            <% if modo != 'cadastrar_novo' && @usuario_logado.permissoes.pode_alterar_tipo_de_conjuge(@pessoa) %>
                <a href="#" id="novo_conjuge" <% if ativar_form_conjuge %>class="ativo"<% end %>>
                    <% if modo == 'editando' && @pessoa.conjuge.present? %>
                        Editar pessoa
                    <% else %>
                        Nova pessoa
                    <% end %>
                </a>
                <a href="#" id="conjuge_ja_cadastrado" <% if ativar_pesquisa_conjuge %>class="ativo"<% end %>>
                    <% if modo == 'editando' && @pessoa.conjuge.present? %>
                        Alterar por outra pessoa já cadastrada
                    <% else %>
                        Pessoa já cadastrada
                    <% end %>
                </a>
            <% end %>

            <input type="hidden" name="tipo_de_conjuge_escolhido" id="tipo_de_conjuge_escolhido" value="<%= tipo_de_conjuge_escolhido %>" />
        </div>

        <div id="form_novo_conjuge" <% if !ativar_form_conjuge %>style="display: none;"<% end %>>

            <%
               if @tipo_conjuge == 'form'
                 conjuge_mostrar = @conjuge
               else
                 conjuge_mostrar = Pessoa.new
               end
            %>

            <%= render 'form_pessoa', pessoa: conjuge_mostrar, tipo_pessoa: 'conjuge', modo: modo %>

        </div>

        <div id="form_conjuge_ja_cadastrado" <% if !ativar_pesquisa_conjuge %>style="display: none;"<% end %>>

            <%
               if @tipo_conjuge == 'ja_cadastrado'
                 @conjuge_mostrar = @conjuge
               else
                 @conjuge_mostrar = Pessoa.new
               end
            %>

            <%= render 'pessoas/pesquisa_pessoas_por_nome', tipo_pesquisa: "pesquisa_conjuge" %>
        </div>

        <% if modo != "criando" %>
            <div id="participacoes_casal">

                <h2 class="sem_espaco_embaixo">Participações dos dois como um casal</h2>

                <% if !@pessoa.new_record? %>
                    <ul class="bullets">
                        <%= render 'grupos_de_pessoa', pessoa: @pessoa, tipo_participacoes: "so_casal" %>
                        <%= render 'participacoes_de_pessoa', pessoa: @pessoa, tipo_participacoes: "so_casal" %>
                    </ul>
                <% end %>

                <%= render 'helper_participacao' %>

                <%
                    grupos_auto_inserir = instance_variable_get("@grupos_auto_inserir_casal")
                    encontros_auto_inserir = instance_variable_get("@encontros_auto_inserir_casal")
                    sugestoes_auto_inserir = instance_variable_get("@sugestoes_auto_inserir_casal")
                    coordenadores_auto_inserir = instance_variable_get("@coordenadores_auto_inserir_casal")
                    conjuntos_auto_inserir = instance_variable_get("@conjuntos_auto_inserir_casal") || ["-1"]
                %>

                <% if grupos_auto_inserir.present? %>
                    <% grupos_auto_inserir.each_with_index do |grupo_id, index| %>
                      <%
                        encontro_id = encontros_auto_inserir[index]
                        texto_sugestao = sugestoes_auto_inserir[index]
                        coordenador = coordenadores_auto_inserir[index]
                        conjunto_id = conjuntos_auto_inserir[index]

                        grupos_que_coordena = @usuario_logado.nil? ? [] : @usuario_logado.grupos_que_coordena.collect{|g| "#{g.id}"}

                        mostrar_campo_lista = grupos_que_coordena.include?(grupo_id)
                        mostrar_campo_texto = !mostrar_campo_lista
                      %>
                      <%= render 'form_participacao_auto_inserir', tipo_pessoa: 'casal', grupo_id: grupo_id, encontro_id: encontro_id, conjunto_id: conjunto_id, sugestao: texto_sugestao, coordenador: coordenador, grupos: grupos_pra_inserir, mostrar_campo_lista: mostrar_campo_lista, mostrar_campo_texto: mostrar_campo_texto %>
                    <% end %>
                <% else %>
                    <%= render 'form_participacao_auto_inserir', tipo_pessoa: 'casal', grupo_id: '-1', encontro_id: '-1', conjunto_id: '-1', sugestao: '', coordenador: 'false', grupos: grupos_pra_inserir, mostrar_campo_lista: false, mostrar_campo_texto: false %>
                <% end %>

                <script>
                    atualizarFuncoesAutoInserir();
                </script>

            </div>

            <%= link_to '#', class: 'link_novo', id: "link_adicionar_participacao_casal" do %>
                Adicionar outra participação dos dois como um casal
            <% end %>
        <% end %>

    </div>

    <div class="actions faixa_horizontal_com_linha_separadora">

        <%
            if @pessoa.conjuge.present?
              nome_dialog = "#{@pessoa.nome_usual} / #{@pessoa.conjuge.nome_usual}"
            else
              nome_dialog = @pessoa.nome
            end
        %>
        <a href="#" id="link_enviar" class="link_submeter" style="position: relative;">
            <span class="img_spinner" style="display: none;" data-corspinner="#aaa"></span>
            <span class="texto"><%= texto_link %></span>
        </a>
        
        <% if modo == "editando" %>
            <%= link_to 'Cancelar', @pessoa, class: 'link_cancelar' %>
        <% end %>

    </div>

<% end %>
