<% 
    if pessoa.new_record? || @usuario_logado == pessoa || @usuario_logado == pessoa.conjuge
      grupos_pra_inserir = Grupo.all
    else
      grupos_pra_inserir = @usuario_logado.grupos_que_coordena
    end
%>

<script>
    var jcrop_api = null; // Coloquei essa variavel aqui pra poder setar quando cria o jcrop, e remover depois

    $(function () {
        carregarFotos<%= tipo_pessoa %>(false);

        $('#tem_facebook_<%= tipo_pessoa %>').on('change', function () {
            if ($(this).prop('checked')) {
                $('#campos_de_facebook_<%= tipo_pessoa %>').show();
                if ($('#esta_tirando_facebook_<%= tipo_pessoa %>').size() > 0) {
                    $('#esta_tirando_facebook_<%= tipo_pessoa %>').val("0");
                }
            }
            else {
                $('#campos_de_facebook_<%= tipo_pessoa %>').hide();
                limparInformacoesFacebook<%= tipo_pessoa %>();
                if ($('#esta_tirando_facebook_<%= tipo_pessoa %>').size() > 0) {
                    $('#esta_tirando_facebook_<%= tipo_pessoa %>').val("1");
                }
            }
        });

        $('#carregar_facebook_<%= tipo_pessoa %>').on('click', function (evento) {
          evento.preventDefault();
          carregarInformacoesFacebook<%= tipo_pessoa %>();
        });

        $('#url_facebook_<%= tipo_pessoa %>').on('keyup', function () {
          if ($(this).val() == "") {
            $('#carregar_facebook_<%= tipo_pessoa %>').hide();
            limparInformacoesFacebook<%= tipo_pessoa %>();
          }
          else {
            $('#carregar_facebook_<%= tipo_pessoa %>').show();
          }
        });

        $('#novo_telefone_<%= tipo_pessoa %>').on('click', function (evento) {
            evento.preventDefault();
            $('#telefones_<%= tipo_pessoa %>').append(
              '<%= raw (render 'form_telefone', telefone: Telefone.new, tipo_pessoa: tipo_pessoa, eh_whatsapp: false).gsub("\n", "") %>'
            );

            atualizarLinksPraRemoverTelefoneEMascara<%= tipo_pessoa %>();
        });

        $('#novo_instrumento_<%= tipo_pessoa %>').on('click', function (evento) {
            evento.preventDefault();

            $('#instrumentos_<%= tipo_pessoa %>').append(
                '<%= raw (render 'form_instrumento', instrumento: Instrumento.new, tipo_pessoa: tipo_pessoa).gsub("\n", "") %>'
            );

            atualizarLinksPraRemoverInstrumento<%= tipo_pessoa %>();
        });

        $('#link_adicionar_participacao_<%= tipo_pessoa %>').on('click', function (evento) {
            evento.preventDefault();

            $('#participacoes_<%= tipo_pessoa %>').append(
                '<%= raw (render 'form_participacao_auto_inserir', tipo_pessoa: tipo_pessoa, grupo_id: "-1", encontro_id: "-1", conjunto_id: "-1", sugestao: "", coordenador: "false", grupos: grupos_pra_inserir, mostrar_campo_lista: false, mostrar_campo_texto: false).gsub("\n", "") %>'
            );

            atualizarFuncoesAutoInserir();
        });

        atualizarLinksPraRemoverTelefoneEMascara<%= tipo_pessoa %>();
        atualizarLinksPraRemoverInstrumento<%= tipo_pessoa %>();
    });

    function limparInformacoesFacebook<%= tipo_pessoa %>() {
      $('#imagem_facebook_form_<%= tipo_pessoa %> > img').attr('src', '');
      $('#imagem_facebook_form_<%= tipo_pessoa %>').hide();
      $('#url_facebook_<%= tipo_pessoa %>').val("");
      $('#url_imagem_facebook_<%= tipo_pessoa %>').val("");
      $('#usuario_facebook_<%= tipo_pessoa %>').val("");
    }

    function carregarInformacoesFacebook<%= tipo_pessoa %>() {
      var url = $('#url_facebook_<%= tipo_pessoa %>').val();

      if (url != "") {
        $("#carregar_facebook_<%= tipo_pessoa %>").hide();
        $("#carregando_facebook_<%= tipo_pessoa %>").show();

        $.ajax({
          method: "post", 
          url: "<%= pegar_informacoes_facebook_pelo_link_url %>",
          data: {
            "url": url
          },
          dataType: "json", 
          success: function (resposta) {
            $("#carregando_facebook_<%= tipo_pessoa %>").hide();

            var imagem_grande = resposta.imagem_grande;
            var nome = resposta.nome;
            var usuario = resposta.usuario;

            if (imagem_grande != "") {
              $('#imagem_facebook_form_<%= tipo_pessoa %> > img').attr('src', imagem_grande);
              $('#imagem_facebook_form_<%= tipo_pessoa %>').show();
              $('#url_imagem_facebook_<%= tipo_pessoa %>').val(imagem_grande);
              $('#usuario_facebook_<%= tipo_pessoa %>').val(usuario);
              if ($('#nome_<%= tipo_pessoa %>').val() == "") {
                $('#nome_<%= tipo_pessoa %>').val(nome);
              }
              if ($('#nome_usual_<%= tipo_pessoa %>').val() == "") {
                $('#nome_usual_<%= tipo_pessoa %>').val(nome.split(" ")[0]);
              }
            }
            else {
              alert("Erro ao tentar carregar o Facebook, confira e tente novamente.");
              limparInformacoesFacebook<%= tipo_pessoa %>();
            }
          }
        });
      }
      else {
        limparInformacoesFacebook<%= tipo_pessoa %>();
        $("#carregando_facebook_<%= tipo_pessoa %>").hide();
      }
    }

    function atualizarLinksPraRemoverTelefoneEMascara<%= tipo_pessoa %>() {
        $('.remover_telefone_<%= tipo_pessoa %>').on('click', function (evento) {
            evento.preventDefault();

            $(this).closest('.campos_telefone').remove();
        });

        $('.mascara_telefone').mascaraTelefone();

        $(".checkbox_whatsapp").off("change");
        $(".checkbox_whatsapp").on("change", function () {
            if ($(this).prop('checked')) {
                $(this).siblings('.hidden_whatsapp').val("true");
            }
            else {
                $(this).siblings('.hidden_whatsapp').val("false");
            }
        });
    }

    function atualizarLinksPraRemoverInstrumento<%= tipo_pessoa %>() {
        $('.remover_instrumento_<%= tipo_pessoa %>').on('click', function (evento) {
            evento.preventDefault();

            $(this).closest('.campos_instrumento').remove();
        });
    }

    function carregarFotos<%= tipo_pessoa %>(refresh) {
      var url = "/pessoas/<%= pessoa.id %>/fotos/<%= tipo_pessoa %>";
      if (refresh) {
        url = url + "?refresh=1";
      }

      <% if pessoa.id.present? %>
        $('#fotos<%= tipo_pessoa %>').load(url, function () {
          atualizarLinksPraRemoverFoto<%= tipo_pessoa %>();
          atualizarLinksPraSetarFotoPrincipal<%= tipo_pessoa %>();
          atualizarLinkPraUploadDeFoto<%= tipo_pessoa %>();
        });
      <% end %>
    }

    function atualizarLinksPraRemoverFoto<%= tipo_pessoa %>() {
      $('.remover_foto_<%= tipo_pessoa %>').on('click', function (evento) {
          evento.preventDefault();

          var fotoId = $(this).data('foto-id');

          $("#dialog_conteudo").html("Tem certeza que deseja <em>excluir</em> essa foto?<p/>");
          $("#dialog_conteudo").append("<a href='#' class='dialog_link_confirmar' data-foto-id='" + fotoId + "' style='position: relative;'><span class='img_spinner' style='display: none;'></span><span class='texto'>Confirmar</span></a>");
          $("#dialog_conteudo").append("<a href='#' class='dialog_link_cancelar'>Cancelar</a>");
          $("#dialog").show();

          $(".dialog_link_cancelar").on("click", function (evento) {
              evento.preventDefault();
              esconderDialog();
          });

          $(".dialog_link_confirmar").on("click", function (evento) {
              evento.preventDefault();
              
              $(this).on('click', function (evento) {evento.preventDefault();});
              $(this).addClass('dialog_link_desativado');
              $(this).children('.texto').html('Carregando...');
              iniciarSpinners(true, $(this).find('.img_spinner'));
              $('.dialog_link_cancelar').hide();

              var fotoId = $(this).data('foto-id');

              $.post(
                    "/pessoas/<%= pessoa.id %>/deletar_foto",
                    {
                        foto_id: fotoId
                    },
                    function (resposta) {
                        if (resposta == "ok") {
                            carregarFotos<%= tipo_pessoa %>(false);
                            esconderDialog();
                        }
                    }
              );
          });
      });
    }

    function atualizarLinksPraSetarFotoPrincipal<%= tipo_pessoa %>() {
      $('.setar_foto_principal_<%= tipo_pessoa %>').on('click', function (evento) {
          evento.preventDefault();

          var fotoId = $(this).data('foto-id');

          $("#dialog_conteudo").html("Tem certeza que deseja usar essa foto <em>como principal</em>?<p/>");
          $("#dialog_conteudo").append("<a href='#' class='dialog_link_confirmar' data-foto-id='" + fotoId + "' style='position: relative;'><span class='img_spinner' style='display: none;'></span><span class='texto'>Confirmar</span></a>");
          $("#dialog_conteudo").append("<a href='#' class='dialog_link_cancelar'>Cancelar</a>");
          $("#dialog").show();

          $(".dialog_link_cancelar").on("click", function (evento) {
              evento.preventDefault();
              esconderDialog();
          });

          $(".dialog_link_confirmar").on("click", function (evento) {
              evento.preventDefault();
              
              $(this).on('click', function (evento) {evento.preventDefault();});
              $(this).addClass('dialog_link_desativado');
              $(this).children('.texto').html('Carregando...');
              iniciarSpinners(true, $(this).find('.img_spinner'));
              $('.dialog_link_cancelar').hide();

              var fotoId = $(this).data('foto-id');

              $.post(
                    "/pessoas/<%= pessoa.id %>/setar_foto_principal",
                    {
                        foto_id: fotoId
                    },
                    function (resposta) {
                        if (resposta == "ok") {
                            carregarFotos<%= tipo_pessoa %>(false);
                            esconderDialog();
                        }
                    }
              );
          });
      });
    }

    function atualizarLinkPraUploadDeFoto<%= tipo_pessoa %>() {
      $("#link_enviar_foto_<%= tipo_pessoa %>").on("click", function (e) {
        e.preventDefault();

        $("#dialog_conteudo").html('<%= raw (render 'form_foto', pessoa_id: pessoa.id, tipo_pessoa: tipo_pessoa).gsub("\n", "") %>');
        $("#dialog").addClass("menos_espaco_em_cima");
        $("#dialog").show();

        $(".dialog_link_cancelar").on("click", function (evento) {
            evento.preventDefault();
            esconderDialog();
        });

        atualizarLinkPraUploadFormDeFoto<%= tipo_pessoa %>();
      });
    }



    function atualizarLinkPraUploadFormDeFoto<%= tipo_pessoa %>() {
      $("#foto_<%= tipo_pessoa %>").on("change", function (evento) {
        $campoFoto = $(this);

        options = {
          maxWidth: 600,
          maxHeight: 500, 
          canvas: false
        }

        file = evento.target.files[0];

        loadImage.parseMetaData(file, function (data) {
          if (data.exif) {
            options.orientation = data.exif.get('Orientation');
          }

          loadImage(
            evento.target.files[0],
            function (img) {
              if (img.type === "error") {
                alert("Erro ao selecionar imagem");
            
                $campoFoto.val("");
                $("#link_upload_foto_<%= tipo_pessoa %>").hide();
            
                if (jcrop_api != null) {
                  jcrop_api.destroy();
                }

                $('#preview_foto').hide();
              }
              else {
                if (jcrop_api != null) {
                  jcrop_api.destroy();
                }

                $('#preview_foto').hide();

                if (img.nodeName.toLowerCase() == "img") {
                  largura = img.width;
                  altura = img.height;
                  if (largura > altura) {
                    if (largura > 600) {
                      largura = 600;
                      altura = img.height * 600 / img.width;
                    }
                  }
                  else {
                    if (altura > 500) {
                      altura = 500;
                      largura = img.width * 500 / img.height;
                    }
                  }

                  var canvas = document.createElement("canvas");
                  canvas.width = img.width;
                  canvas.height = img.height;
                  canvas.getContext("2d").drawImage(img, 0, 0, largura, altura);
                  
                  img = canvas;
                }

                $('#preview_foto').attr('src', img.toDataURL());
                $('#preview_foto').show();
                $("#link_upload_foto_<%= tipo_pessoa %>").show();

                jcrop_api = $.Jcrop('#preview_foto', {
                  onChange: atualizarCamposCrop<%= tipo_pessoa %>,
                  onSelect: atualizarCamposCrop<%= tipo_pessoa %>,
                  setSelect: [0, 0, 200, 200],
                  aspectRatio: 1, 
                  bgOpacity: 0.4
                });  
              }
            },
            options
          );
        });
      });


      $("#link_upload_foto_<%= tipo_pessoa %>").on("click", function (e) {
        e.preventDefault();

        if ($('#foto_<%= tipo_pessoa %>').val() != "") {
          $(this).on('click', function (evento) {evento.preventDefault();});
          $(this).addClass('dialog_link_desativado');
          $(this).children('.texto').html('Carregando...');
          iniciarSpinners(true, $(this).find('.img_spinner'));
          $('.dialog_link_cancelar').hide();

          $(this).closest('form').submit();  
        }
      });
    }

    function atualizarCamposCrop<%= tipo_pessoa %>(coordenadas) {
      $("#crop_x").val(coordenadas.x);
      $("#crop_y").val(coordenadas.y);
      $("#crop_w").val(coordenadas.w);
      $("#crop_h").val(coordenadas.h);
    }
</script>

<table border="0" id="todos_os_campos_de_<%= tipo_pessoa %>">
  <tr>
    <td class="imagem_form" id="fotos<%= tipo_pessoa %>"></td>
    <td>
      <% editar_facebook = (defined?(modo) && modo == "cadastrar_novo" && !pessoa.tem_informacoes_facebook) ||
              (defined?(@usuario_logado) && @usuario_logado.permissoes.pode_editar_facebook_de_pessoa(pessoa)) %>

      <% if editar_facebook %>
        <% if pessoa.tem_informacoes_facebook %>
            <input type="hidden" id="esta_tirando_facebook_<%= tipo_pessoa %>" value="0" />
        <% end %>

        <label class="label_tem_facebook">
          <input type="checkbox" id="tem_facebook_<%= tipo_pessoa %>" name="tem_facebook_<%= tipo_pessoa %>"
              <% if pessoa.tem_facebook || pessoa.url_facebook.present? %>
                  checked="checked"
              <% end %>
          />Tem Facebook
        </label>

        <div class="campos_de_facebook" id="campos_de_facebook_<%= tipo_pessoa %>"
          <% if !pessoa.tem_facebook && !pessoa.url_facebook.present? %>
              style="display: none;"
          <% end %>
        >
          <div class="field">
            <%= label_tag "link_facebook_#{tipo_pessoa}", 'Link para Facebook' %><br>
            <span class="erro_form"><%= pessoa.errors[:url_facebook].first %></span>
            <input type="text" name="url_facebook_<%= tipo_pessoa %>" id="url_facebook_<%= tipo_pessoa %>" style="width: 500px;" value="<%= pessoa.url_facebook %>" />
            <a href="#" id="carregar_facebook_<%= tipo_pessoa %>" style="display: none;">Carregar</a>
            <span id="carregando_facebook_<%= tipo_pessoa %>" style="display: none;">Carregando...</span>

            <div id="imagem_facebook_form_<%= tipo_pessoa %>" style="display: none;">
              <img src="" class="imagem_facebook_form"/>
              <span class="helper2">Essa imagem será adicionada</span>
            </div>
          </div>

          <input type="hidden" name="usuario_facebook_<%= tipo_pessoa %>" id="usuario_facebook_<%= tipo_pessoa %>" value="<%= pessoa.usuario_facebook %>" />
          <input type="hidden" name="id_app_facebook_<%= tipo_pessoa %>" value="<%= pessoa.id_app_facebook %>" />
          <input type="hidden" name="url_imagem_facebook_<%= tipo_pessoa %>" id="url_imagem_facebook_<%= tipo_pessoa %>" value="<%= pessoa.url_imagem_facebook %>" />
        </div>
      <% else %>
        <input type="hidden" name="tem_facebook_<%= tipo_pessoa %>" value="1" />
        <input type="hidden" name="url_facebook_<%= tipo_pessoa %>" value="<%= pessoa.url_facebook %>" />
        <input type="hidden" name="usuario_facebook_<%= tipo_pessoa %>" value="<%= pessoa.usuario_facebook %>" />
        <input type="hidden" name="id_app_facebook_<%= tipo_pessoa %>" value="<%= pessoa.id_app_facebook %>" />
        <input type="hidden" name="url_imagem_facebook_<%= tipo_pessoa %>" value="<%= pessoa.url_imagem_facebook %>" />
      <% end %>

      <div class="field">
        <%= label_tag "nome_#{tipo_pessoa}", 'Nome Completo*' %><br>
        <div class="erro_form"><%= pessoa.errors[:nome].first %></div>
        <input type="text" name="nome_<%= tipo_pessoa %>" id="nome_<%= tipo_pessoa %>" value="<%= pessoa.nome %>" size="40" />
      </div>

      <div class="field">
        <%= label_tag "nome_usual_#{tipo_pessoa}", 'Nome usual*' %><br>
        <div class="erro_form"><%= pessoa.errors[:nome_usual].first %></div>
        <input type="text" name="nome_usual_<%= tipo_pessoa %>" id="nome_usual_<%= tipo_pessoa %>" value="<%= pessoa.nome_usual %>" size="40" />
      </div>

      <div class="field">
        <%= label_tag 'Gênero' %><br>

        <label><%= radio_button_tag "eh_homem_#{tipo_pessoa}", true, pessoa.eh_homem, :id => "eh_homem_#{tipo_pessoa}" %> Homem</label>
        <label><%= radio_button_tag "eh_homem_#{tipo_pessoa}", false, !pessoa.eh_homem, :id => "eh_mulher_#{tipo_pessoa}" %> Mulher</label>

        <% if tipo_pessoa == 'conjuge' %>
          <input type="hidden" name="acompanhar_genero_conjuge" id="acompanhar_genero_conjuge" value="<%= pessoa.new_record? ? 'true' : 'false' %>" />
        <% end %>
      </div>

      <div class="field">
        <%= label_tag "dia_#{tipo_pessoa}", 'Data de nascimento' %><br/>
        <div class="erro_form"><%= pessoa.errors[:nascimento].first %></div>

        <%= select_tag "dia_#{tipo_pessoa}", options_for_select(1..31, pessoa.dia), :include_blank => true %>
        <%= select_tag "mes_#{tipo_pessoa}", options_for_select(1..12, pessoa.mes), :include_blank => true %>
        <%= select_tag "ano_#{tipo_pessoa}", options_for_select(Date.today.year.downto(1920).to_a, pessoa.ano), :include_blank => true %>
      </div>

      <div class="field">
        <%= label_tag "email_#{tipo_pessoa}", 'Email' %><br/>
        <div class="erro_form"><%= pessoa.errors[:email].first %></div>
        <%= text_field_tag "email_#{tipo_pessoa}", pessoa.email, size: 30 %>
      </div>

      <br style="clear: right;" />

      <% if tipo_pessoa != 'conjuge' %>

          <div class="field">
            <%= label_tag "rua_#{tipo_pessoa}", 'Rua' %><br>
            <div class="erro_form"><%= pessoa.errors[:rua].first %></div>
            <%= text_field_tag "rua_#{tipo_pessoa}", pessoa.rua, size: 20 %>
          </div>

          <div class="field">
            <%= label_tag :"numero_#{tipo_pessoa}", 'Número' %><br>
            <div class="erro_form"><%= pessoa.errors[:numero].first %></div>
            <%= text_field_tag "numero_#{tipo_pessoa}", pessoa.numero, size: 3 %>
          </div>

          <div class="field">
            <%= label_tag :"complemento_#{tipo_pessoa}", 'Complemento' %><br>
            <div class="erro_form"><%= pessoa.errors[:complemento].first %></div>
            <%= text_field_tag "complemento_#{tipo_pessoa}", pessoa.complemento, size: 10 %>
          </div>

          <div class="field">
            <%= label_tag "bairro_#{tipo_pessoa}", 'Bairro' %><br>
            <div class="erro_form"><%= pessoa.errors[:bairro].first %></div>
            <%= text_field_tag "bairro_#{tipo_pessoa}", pessoa.bairro, size: 15 %>
          </div>

          <div class="field">
            <%= label_tag "cidade_#{tipo_pessoa}", 'Cidade' %><br>
            <div class="erro_form"><%= pessoa.errors[:cidade].first %></div>
            <%= text_field_tag "cidade_#{tipo_pessoa}", pessoa.cidade %>
          </div>

          <div class="field">
            <%= label_tag "estado_#{tipo_pessoa}", 'Estado' %><br>
            <div class="erro_form"><%= pessoa.errors[:estado].first %></div>
            <%= select_tag "estado_#{tipo_pessoa}", options_for_select(estados_brasil, pessoa.estado), :include_blank => true %>
          </div>

          <div class="field">
            <%= label_tag "cep_#{tipo_pessoa}", 'CEP' %><br>
            <div class="erro_form"><%= pessoa.errors[:cep].first %></div>
            <input type="text" name="cep_<%= tipo_pessoa %>" value="<%= pessoa.cep %>" class="mascara_cep" size="10" />
          </div>
      <% end %>

      <br style="clear: right;" />

      <div class="field">
        <%= label_tag 'Telefones' %><br/>

        <span id="telefones_<%= tipo_pessoa %>">
            <% pessoa.telefones.each do |telefone| %>
                <%= render 'form_telefone', telefone: telefone, tipo_pessoa: tipo_pessoa, eh_whatsapp: telefone.eh_whatsapp %>
            <% end %>
        </span>

        <a href="#" id="novo_telefone_<%= tipo_pessoa %>" class="link_novo">Adicionar telefone</a>
      </div>

      <br style="clear: right;" />

      <div class="field">
        <%= label_tag 'Habilidades Musicais' %><br/>

        <span id="instrumentos_<%= tipo_pessoa %>">
            <% pessoa.instrumentos.each do |instrumento| %>
                <%= render 'form_instrumento', instrumento: instrumento, tipo_pessoa: tipo_pessoa %>
            <% end %>
        </span>

        <a href="#" id="novo_instrumento_<%= tipo_pessoa %>" class="link_novo">Adicionar habilidade musical</a>
      </div>

      <% if modo != "criando" %>

        <h2 class="sem_espaco_embaixo">Participações<span class="campos_casado" <% if !@eh_casal %>style="display: none;"<% end %>> individuais dessa pessoa (não dos dois como um casal)</span></h2>

        <% if !pessoa.new_record? %>
          <ul class="bullets">
            <%= render 'grupos_de_pessoa', pessoa: pessoa, tipo_participacoes: "so_individuais" %>
            <%= render 'participacoes_de_pessoa', pessoa: pessoa, tipo_participacoes: "so_individuais" %>
          </ul>
        <% end %>

        <% if grupos_pra_inserir.count > 0 %>
          <div class="erro_form"><%= pessoa.errors[:auto_inserir].first %></div>

          <div id="participacoes_<%= tipo_pessoa %>">

            <%= render 'helper_participacao' %>
          
            <%
               grupos_auto_inserir = instance_variable_get("@grupos_auto_inserir_#{tipo_pessoa}")
               encontros_auto_inserir = instance_variable_get("@encontros_auto_inserir_#{tipo_pessoa}")
               conjuntos_auto_inserir = instance_variable_get("@conjuntos_auto_inserir_#{tipo_pessoa}") || ["-1"]
               sugestoes_auto_inserir = instance_variable_get("@sugestoes_auto_inserir_#{tipo_pessoa}")
               coordenadores_auto_inserir = instance_variable_get("@coordenadores_auto_inserir_#{tipo_pessoa}")
            %>

            <% if grupos_auto_inserir.present? %>
              <% grupos_auto_inserir.each_with_index do |grupo_id, index| %>
                <%
                  encontro_id = encontros_auto_inserir[index]
                  texto_sugestao = sugestoes_auto_inserir[index]
                  coordenador = coordenadores_auto_inserir[index]
                  conjunto_id = conjuntos_auto_inserir[index]

                  grupos_que_coordena = @usuario_logado.nil? ? [] : @usuario_logado.grupos_que_coordena.collect{|g| "#{g.id}"}

                  mostrar_campo_lista = grupos_que_coordena.include?(grupo_id)
                  mostrar_campo_texto = !mostrar_campo_lista && texto_sugestao != 'so_grupo'
                %>
                <%= render 'form_participacao_auto_inserir', tipo_pessoa: tipo_pessoa, grupo_id: grupo_id, encontro_id: encontro_id, conjunto_id: conjunto_id, sugestao: texto_sugestao, coordenador: coordenador, grupos: grupos_pra_inserir, mostrar_campo_lista: mostrar_campo_lista, mostrar_campo_texto: mostrar_campo_texto %>
              <% end %>
            <% else %>
              <%= render 'form_participacao_auto_inserir', tipo_pessoa: tipo_pessoa, grupo_id: '-1', encontro_id: '-1', conjunto_id: '-1', sugestao: '', coordenador: 'false', grupos: grupos_pra_inserir, mostrar_campo_lista: false, mostrar_campo_texto: false %>
            <% end %>

            <script>
                atualizarFuncoesAutoInserir();
            </script>
          </div>

          <%= link_to '#', class: 'link_novo', id: "link_adicionar_participacao_#{tipo_pessoa}" do %>
            Adicionar outra participação <span class="campos_casado" <% if !@eh_casal %>style="display: none;"<% end %>>individual dessa pessoa (não dos dois como um casal)</span>
          <% end %>
        <% end %>

      <% end %>

    </td>
  </tr>
</table>