<script>
    function resetarFormPessoa() {
        $("#form_pessoa")
                .find("input, select")
                .not("input[name = authenticity_token]")
                .not("input[type = radio]")
                .val("");
        $("input[name = casado_ou_solteiro]")
                .filter("[value = solteiro]")
                .prop("checked", true);
        casadoOuSolteiro();
        $("input[name = eh_homem_pessoa], input[name = eh_homem_conjuge]")
                .filter("[value = true]")
                .prop("checked", true);
        $(".informacoes_fb").hide();
        $(".opcoes_conjuge a").removeClass("ativo");
        $("#form_novo_conjuge").hide();
        $("#form_conjuge_ja_cadastrado").hide();
        $("#detalhes_pesquisa_conjuge").hide();
    }

    function setarOpcaoEscolhida(elemento) {
        $(elemento).addClass("ativo");
        $(elemento).siblings("a").removeClass("ativo");
    }

    function casadoOuSolteiro() {
        if ($("input[name=casado_ou_solteiro]:checked").val() == 'casado') {
            $(".campos_casado").show();
        }
        else {
            $(".campos_casado").hide();
        }
    }

    $(function () {

        $("#link_enviar").on("click", function (e) {
            e.preventDefault();

            var form = $(this).closest("form");

            var nomePessoa = $('#nome_usual_pessoa').val();
            var nomeConjuge = $('#nome_usual_conjuge').val();
            var tirouFbPessoa = null;
            var tirouFbConjuge = null;

            if ($('#esta_tirando_facebook_pessoa').size() > 0) {
                tirouFbPessoa = $('#esta_tirando_facebook_pessoa').val();
            }

            if ($('#esta_tirando_facebook_conjuge').size() > 0) {
                tirouFbConjuge = $('#esta_tirando_facebook_conjuge').val();
            }

            if (tirouFbPessoa == "1" || tirouFbConjuge == "1") {
                var nomesArray = [];

                if (tirouFbPessoa == "1") {
                    nomesArray.push(nomePessoa);
                }

                if (tirouFbConjuge == "1") {
                    nomesArray.push(nomeConjuge);
                }

                var nomes = nomesArray.join(" e ");
                var plural = $(nomesArray).size() > 1;

                $("#dialog_conteudo").html("Como você removeu o Facebook de <em>" + nomes + "</em>, ");
                if (plural) {
                    $("#dialog_conteudo").append("essas pessoas perderão acesso ao sistema.");
                }
                else {
                    $("#dialog_conteudo").append("essa pessoa perderá acesso ao sistema.");
                }
                $("#dialog_conteudo").append("<br/>Tem certeza que deseja continuar?<p/>");
                $("#dialog_conteudo").append("<a href='#' class='dialog_link_confirmar'>Confirmar</a>");
                $("#dialog_conteudo").append("<a href='#' class='dialog_link_cancelar'>Cancelar</a>");
                $("#dialog").show();

                $(".dialog_link_confirmar").on("click", function (evento) {
                    evento.preventDefault();
                    form.submit();
                });

                $(".dialog_link_cancelar").on("click", function (evento) {
                    evento.preventDefault();
                    esconderDialog();
                });

            }
            else {
                form.submit();
            }

        });

        $("input[name=casado_ou_solteiro]").on("change", function () {
            casadoOuSolteiro();
        });

        $("#conjuge_ja_cadastrado").on("click", function (e) {
            e.preventDefault();

            setarOpcaoEscolhida($(this));

            $("#tipo_de_conjuge_escolhido").val("ja_cadastrado");

            $("#form_conjuge_ja_cadastrado").show();
            $("#form_novo_conjuge").hide();
        });

        $("#novo_conjuge").on("click", function (e) {
            e.preventDefault();

            setarOpcaoEscolhida($(this));

            $("#tipo_de_conjuge_escolhido").val("novo");

            $("#form_conjuge_ja_cadastrado").hide();
            $("#form_novo_conjuge").show();
        });

        $(".link_excluir").on("click", function (evento) {
            evento.preventDefault();

            var pessoaId = $(this).data("pessoa-id");
            var nomePessoa = $(this).data("nome-pessoa");

            $("#dialog_conteudo").html("Tem certeza que deseja excluir <em>" + nomePessoa + "</em>?<p/>");

            $("#dialog_conteudo").append("<p/><a href='#' class='dialog_link_confirmar' data-pessoa-id='" + pessoaId + "'>Confirmar</a>");
            $("#dialog_conteudo").append("<a href='#' class='dialog_link_cancelar'>Cancelar</a>");
            $("#dialog").show();

            $(".dialog_link_confirmar").on("click", function (evento) {
                $.ajax({
                        url: "<%= pessoas_url %>/" + pessoaId,
                        type: "delete",
                        dataType: "json",
                        success: function (response) {
                            <% if defined?(@grupo) %>
                                window.location.href = "<%= grupo_url(@grupo) %>";
                            <% else %>
                                window.location.href = "<%= pessoas_url %>";
                            <% end %>
                        }
                    }
                );
            });

            $(".dialog_link_cancelar").on("click", function (evento) {
                evento.preventDefault();
                esconderDialog();
            });

        });

    });
</script>

<%
    if modo == "criando"
        form_url = pessoas_url
        form_method = :post
    elsif modo == "editando"
        form_url = pessoa_url(@pessoa)
        form_method = :put
    end
%>

<%= form_tag form_url, method: form_method, id: "form_pessoa" do %>

    <% if defined?(@grupo) %>
        <input type="hidden" name="grupo_id" value="<%= @grupo.id %>" />
    <% end %>

    <div class="field campo_solteiro_ou_casado" <% if !pode_alterar_estado_civil_de(@pessoa) %>style="display: none;"<% end %>>
      <label><%= radio_button_tag :casado_ou_solteiro, 'solteiro', (!@eh_casal) %>Solteiro</label>
      <label><%= radio_button_tag :casado_ou_solteiro, 'casado', (@eh_casal) %>Casado</label>
    </div>

    <%= render 'form_pessoa', pessoa: @pessoa, tipo_pessoa: 'pessoa' %>

    <div class="campos_casado" <% if !@eh_casal %>style="display: none;"<% end %>>

      <div class="opcoes_conjuge">
        <h2>Cônjuge</h2>

        <%
            ativar_form_conjuge = false
            ativar_pesquisa_conjuge = false
            tipo_de_conjuge_escolhido = ""
            if defined?(@tipo_conjuge) && @tipo_conjuge == 'form'
                ativar_form_conjuge = true
                tipo_de_conjuge_escolhido = "novo"
            elsif defined?(@tipo_conjuge) && @tipo_conjuge == 'ja_cadastrado'
                ativar_pesquisa_conjuge = true
                tipo_de_conjuge_escolhido = "ja_cadastrado"
            end
        %>

        <% if pode_alterar_tipo_de_conjuge(@pessoa) %>
            <a href="#" id="novo_conjuge" <% if ativar_form_conjuge %>class="ativo"<% end %>>
                <% if modo == 'editando' && @pessoa.conjuge.present? %>
                    Editar pessoa
                <% else %>
                    Nova pessoa
                <% end %>
            </a>
            <a href="#" id="conjuge_ja_cadastrado" <% if ativar_pesquisa_conjuge %>class="ativo"<% end %>>
                <% if modo == 'editando' && @pessoa.conjuge.present? %>
                    Alterar por outra pessoa já cadastrada
                <% else %>
                    Pessoa já cadastrada
                <% end %>
            </a>
        <% end %>

        <input type="hidden" name="tipo_de_conjuge_escolhido" id="tipo_de_conjuge_escolhido" value="<%= tipo_de_conjuge_escolhido %>" />
      </div>

      <div id="form_novo_conjuge" <% if !ativar_form_conjuge %>style="display: none;"<% end %>>

        <%
           if @tipo_conjuge == 'form'
             conjuge_mostrar = @conjuge
           else
             conjuge_mostrar = Pessoa.new
           end
        %>

        <%= render 'form_pessoa', pessoa: conjuge_mostrar, tipo_pessoa: 'conjuge' %>

      </div>

      <div id="form_conjuge_ja_cadastrado" <% if !ativar_pesquisa_conjuge %>style="display: none;"<% end %>>

        <%
           if @tipo_conjuge == 'ja_cadastrado'
             @conjuge_mostrar = @conjuge
           else
             @conjuge_mostrar = Pessoa.new
           end
        %>

        <%= render 'pessoas/pesquisa_pessoas', tipo_pesquisa: "pesquisa_conjuge" %>
      </div>

    </div>

    <div class="actions faixa_horizontal_com_linha_separadora">

        <%
            if @grupo.present? && modo == "criando"
                texto_link = "Adicionar a #{@grupo.nome}"
            else
                texto_link = "Salvar"
            end

            if @pessoa.conjuge.present?
              nome_dialog = "#{@pessoa.nome_usual} / #{@pessoa.conjuge.nome_usual}"
            else
              nome_dialog = @pessoa.nome
            end
        %>
        <%= link_to texto_link, '#', id: 'link_enviar', class: 'link_submeter' %>

        <% if modo == "editando" && pode_excluir_pessoa(@pessoa) %>
            <%= link_to 'Excluir', '#', data: {pessoa_id: @pessoa.id, nome_pessoa: nome_dialog}, class: 'link_excluir' %>
        <% end %>

    </div>

<% end %>
