<script>
  function preencherConjuntos(elemento, json, denominacao) {
      $(elemento).empty();
      $.each(json, function (index, conjunto) {
          var nomeAExibir = '';

          if (conjunto.tipo == 'Equipe') {
              nomeAExibir += 'Equipe ';
          }
          else {
              nomeAExibir += denominacao + ' ';
          }

          nomeAExibir += conjunto.nome

          elemento.append('<option value="' + conjunto.id + '">' + nomeAExibir + '</option>');
      });
  }

  $(function () {
      $('.link_adicionar_a_grupo').on('click', function (evento) {
          evento.preventDefault();
          $(this).siblings('.adicionar_a_grupo').show();
          $(this).hide();
      });

      $('.link_cancelar_adicionar_a_grupo').on('click', function (evento) {
          evento.preventDefault();

          var div = $(this).closest('.adicionar_a_grupo');

          $(div).hide();
          $(div).siblings('.link_adicionar_a_grupo').show();
      });

      $('.link_adicionar_participacao').on('click', function (evento) {
          evento.preventDefault();
          $(this).siblings('.adicionar_participacao').show();
          $(this).hide();
      });

      $('.link_cancelar_adicionar_participacao').on('click', function (evento) {
          evento.preventDefault();

          var div = $(this).closest('.adicionar_participacao');

          $(div).hide();
          $(div).siblings('.link_adicionar_participacao').show();
      });

      $('.grupo_participacao').on('change', function (evento) {
          var pessoaId = $(this).closest('.adicionar_participacao').find(".pessoa-id").val();
          var denominacao = $(this).closest('.adicionar_participacao').find(".denominacao").val();
          var selectEncontro = $(this).closest('.adicionar_participacao').find('.encontro_participacao');
          var selectConjunto = $(this).closest('.adicionar_participacao').find('.conjunto_participacao');

          $.get(
                  "<%= encontros_de_grupo_url %>",
                  {
                      id: $(this).val()
                  },
                  function (resposta) {
                      $(selectEncontro).empty();
                      $(selectConjunto).empty();

                      $.each(resposta, function (index, encontro) {
                          selectEncontro.append('<option value="' + encontro.id + '">' + encontro.nome + '</option>');
                          if (index == 0) {
                              $.get(
                                      "<%= conjuntos_para_adicionar_pessoa_url %>",
                                      {
                                          pessoa_id: pessoaId,
                                          encontro_id: encontro.id
                                      },
                                      function (respostaConjuntos) {
                                          preencherConjuntos(selectConjunto, respostaConjuntos, denominacao);
                                      }
                              );
                          }
                      });
                  }
          );
      });

      $('.encontro_participacao').on('change', function (evento) {
          var pessoaId = $(this).closest('.adicionar_participacao').find(".pessoa-id").val();
          var denominacao = $(this).closest('.adicionar_participacao').find(".denominacao").val();
          var selectConjunto = $(this).closest('.adicionar_participacao').find('.conjunto_participacao');

          $.get(
                  "<%= conjuntos_para_adicionar_pessoa_url %>",
                  {
                      pessoa_id: pessoaId,
                      encontro_id: $(this).val()
                  },
                  function (respostaConjuntos) {
                      preencherConjuntos(selectConjunto, respostaConjuntos, denominacao);
                  }
          );
      });

      $('.link_submeter_adicionar_a_grupo').on('click', function (evento) {
          evento.preventDefault();

          var grupoEscolhido = $(this).closest('.adicionar_a_grupo').find('.grupo_a_adicionar').val();

          if (grupoEscolhido == null || grupoEscolhido == '') {
              $("#dialog_conteudo").html('Não foi selecionado <em>nenhum grupo</em> no qual adicionar a pessoa.');
              $("#dialog_conteudo").append("<p/><a href='#' class='dialog_link_confirmar'>OK</a>");
              $("#dialog").show();

              $(".dialog_link_confirmar").on("click", function (evento) {
                  evento.preventDefault();
                  esconderDialog();
              });
          }
          else {
              $(this).closest('form').submit();
          }
      });

      $('.link_submeter_adicionar_participacao').on('click', function (evento) {
          evento.preventDefault();

          var conjuntoEscolhido = $(this).closest('.adicionar_participacao').find('.conjunto_participacao').val();

          if (conjuntoEscolhido == null || conjuntoEscolhido == '') {
              $("#dialog_conteudo").html('Não foi selecionada <em>nenhuma participação</em> na qual adicionar a pessoa.');
              $("#dialog_conteudo").append("<p/><a href='#' class='dialog_link_confirmar'>OK</a>");
              $("#dialog").show();

              $(".dialog_link_confirmar").on("click", function (evento) {
                  evento.preventDefault();
                  esconderDialog();
              });
          }
          else {
              $(this).closest('form').submit();
          }
      });

      $('.confirmar_auto_sugestao').on('click', function (evento) {
          evento.preventDefault();

          var tipo = $(this).data('tipo');
          var tr = $(this).closest('tr');
          var select_conjunto = $(tr).find('.conjunto');

          var id_conjunto = null;
          if (tipo != 'grupo') {
              id_conjunto = $(select_conjunto).val();
          }

          var id_auto_sugestao = $(this).data('id-auto-sugestao');
          var eh_coordenador = $(tr).find('.eh_coordenador').prop('checked');

          var msg = '';

          if (tipo == 'grupo') {
              var nome_grupo = $(this).data('nome-grupo');
              msg = 'Tem certeza que deseja adicionar <em><%= pessoa.nome %></em> a <em>' + nome_grupo + '</em>?';
          }
          else {
              var nome_encontro = $(this).data('nome-encontro');
              var ano_encontro = $(this).data('ano-encontro');
              var conjunto = $(select_conjunto).children(':selected').text();

              msg = 'Tem certeza que deseja adicionar <em><%= pessoa.nome %></em> a <em>' + conjunto + ' - ' + nome_encontro + ' (' + ano_encontro + ')</em>?';
          }

          <% if pessoa.auto_inserido %>
            msg += ' Essa pessoa ainda não tem acesso ao sistema, e ao adicioná-la, o acesso será liberado.'
          <% end %>

          $("#dialog_conteudo").html(msg);
          $("#dialog_conteudo").append("<p/><a href='#' class='dialog_link_confirmar'>OK</a>");
          $("#dialog_conteudo").append("<a href='#' class='dialog_link_cancelar'>Cancelar</a>");
          $("#dialog").show();

          $(".dialog_link_confirmar").on("click", function (evento) {
              evento.preventDefault();

              $.post(
                      "<%= confirmar_auto_sugestao_url %>",
                      {
                          id_auto_sugestao: id_auto_sugestao,
                          id_conjunto: id_conjunto,
                          eh_coordenador: eh_coordenador
                      },
                      function (resposta) {
                          if (resposta == 'ok') {
                              window.location.reload();
                          }
                      }
              );
          });

          $(".dialog_link_cancelar").on("click", function (evento) {
              evento.preventDefault();
              esconderDialog();
          });
      });

      $('.rejeitar_auto_sugestao').on('click', function (evento) {
          evento.preventDefault();

          var tipo = $(this).data('tipo');
          var tr = $(this).closest('tr');
          var select_conjunto = $(tr).find('.conjunto');
          var id_auto_sugestao = $(this).data('id-auto-sugestao');
          var texto_sugestao = $(this).data('texto-sugestao')

          var msg = '';

          if (tipo == 'grupo') {
              var nome_grupo = $(this).data('nome-grupo');
              msg = 'Tem certeza que deseja rejeitar a participação de <em><%= pessoa.nome %></em> em <em>' + nome_grupo + '</em>?';
          }
          else {
              var nome_encontro = $(this).data('nome-encontro');
              var ano_encontro = $(this).data('ano-encontro');
              var conjunto = $(select_conjunto).children(':selected').text();

              msg = 'Tem certeza que deseja rejeitar a participação <em>"' + texto_sugestao + '"</em> de <em><%= pessoa.nome %></em> em <em>' + nome_encontro + ' (' + ano_encontro + ')</em>?';
          }

          $("#dialog_conteudo").html(msg);
          $("#dialog_conteudo").append("<p/><a href='#' class='dialog_link_confirmar'>OK</a>");
          $("#dialog_conteudo").append("<a href='#' class='dialog_link_cancelar'>Cancelar</a>");
          $("#dialog").show();

          $(".dialog_link_confirmar").on("click", function (evento) {
              evento.preventDefault();

              $.post(
                      "<%= rejeitar_auto_sugestao_url %>",
                      {
                          id_auto_sugestao: id_auto_sugestao
                      },
                      function (resposta) {
                          if (resposta == 'ok') {
                              window.location.reload();
                          }
                      }
              );
          });

          $(".dialog_link_cancelar").on("click", function (evento) {
              evento.preventDefault();
              esconderDialog();
          });
      });
  });
</script>

<table class="informacoes_pessoa <%= "conjuge_50_50" if tem_conjuge && !tem_auto_sugestoes %>">
  <tr>
    <td>
        <img src="<%= pessoa.url_imagem(200) %>" class="imagem_facebook_detalhe"/>
    </td>
    <td>
        <b>Nome completo:</b> <%= pessoa.nome %><br/>
        <b>Nome usual:</b> <%= pessoa.nome_usual %><br/>
        <b>Facebook:</b> <%= link_to "Facebook", pessoa.url_facebook, target: '_blank', class: 'link_facebook' unless pessoa.url_facebook.blank? %><br/>
        <b>Gênero:</b> <%= (pessoa.eh_homem? ? "Homem" : "Mulher") %><br/>
        <b>Data de nascimento:</b> <%= pessoa.nascimento.strftime("%d/%m/%Y") unless pessoa.nascimento.blank? %><br/>
        <b>Email:</b> <%= link_to pessoa.email, "mailto:#{pessoa.email}", target: '_blank' unless pessoa.email.blank? %><br/>
        <b>Endereço:</b> <%= pessoa.endereco %><br/>

        <%
            if pessoa.telefones.count > 1
                titulo_telefones = "Telefones"
                separador_telefones = "<br/>"
                array_telefones = []
                pessoa.telefones.each do |telefone|
                    array_telefones << "#{telefone.telefone} (#{telefone.operadora})"
                end
                string_telefones = array_telefones.join("<br/>")
            else
                titulo_telefones = "Telefone"
                separador_telefones = " "
                if pessoa.telefones.count == 1
                    telefone = pessoa.telefones.first
                    string_telefones = "#{telefone.telefone} (#{telefone.operadora})"
                else
                    string_telefones = ""
                end
            end
        %>

        <b><%= titulo_telefones %>:</b><%= raw separador_telefones %><%= raw string_telefones %><br/>

        <b>Habilidades musicais:</b> <%= pessoa.instrumentos.collect{|instrumento| instrumento.nome}.join(", ") %><br/>

        <% if pessoa.ultimo_login.present? %>
            <p><b>Último login:</b> <%= pessoa.ultimo_login.strftime('%d/%m/%Y às %H:%M:%S') %></p>
        <% end %>

        <% if @usuario_logado.grupos_em_que_pode_adicionar_outra_pessoa(pessoa).count + pessoa.grupos.count > 0 &&
                pessoa.auto_inserido == false %>
            <h2 class="sem_espaco_embaixo">Grupos</h2>
            <% if pessoa.participacoes_em_grupos.count > 0 %>
                <ul class="bullets">
                    <% pessoa.participacoes_em_grupos.each do |participacao| %>
                      <li><span>
                        <% coordenador = participacao[:grupo].coordenadores.include?(pessoa) ? ' (Coord.)' : '' %>

                        <% if pode_gerenciar_grupo participacao[:grupo] %>
                            <%= link_to "#{participacao[:grupo].nome}#{coordenador}", participacao[:grupo] %>
                        <% else %>
                            <%= "#{participacao[:grupo].nome}#{coordenador}" %>
                        <% end %>

                        <% if !participacao[:ativo] %>
                            (ex-participante)
                        <% end %>
                      </span></li>
                    <% end %>
                </ul>
            <% end %>
            <% if @usuario_logado.grupos_em_que_pode_adicionar_outra_pessoa(pessoa).count > 0 %>
                <%= link_to 'Adicionar a um grupo', '#', class: 'link_novo link_adicionar_a_grupo' %>

                <%= form_tag adicionar_pessoa_a_grupo_url, class: 'adicionar_a_grupo', style: 'display: none; margin-top: 10px; position: relative;' do %>
                  <input type="hidden" name="id_pessoa" value="<%= pessoa.id %>"/>
                  <div class="field">
                    <label for="id_grupo">Grupo</label><br/>
                    <%= select_tag 'id_grupo', options_for_select(@usuario_logado.grupos_em_que_pode_adicionar_outra_pessoa(pessoa).collect{|g| [g.nome, g.id]}), include_blank: false, class: 'grupo_a_adicionar' %>
                  </div><br/>
                  <a href="#" class="link_submeter_adicionar_a_grupo link_submeter" style="margin-right: 10px">Adicionar</a>
                  <a href="#" class="link_cancelar_adicionar_a_grupo link_remover">Cancelar</a>
                <% end %>
            <% end %>
        <% end %>

        <% if (@usuario_logado.eh_super_admin? ||
                @usuario_logado.encontros_que_esta_coordenando_agora.count > 0 ||
                @usuario_logado.grupos_que_tem_encontros_que_coordena.count > 0 ||
                participacoes.count > 0) &&
                pessoa.auto_inserido == false %>
            <h2 class="sem_espaco_embaixo">Participações em encontros</h2>
            <% if participacoes.count > 0 %>
                <ul class="bullets">
                    <% participacoes.each do |conjunto| %>
                      <% cor = conjunto.cor.present? ? conjunto.cor.hex_cor : nil %>

                      <li <% if cor.present? %>style="color: <%= cor %>;"<% end %>><span>
                        <% coordenador = conjunto.coordenadores.include?(pessoa) ? ' (Coord.)' : '' %>

                        <% if conjunto.tipo == 'Equipe' %>
                            <%= link_to "Equipe #{conjunto.nome}#{coordenador}", equipe_path(conjunto) %>
                        <% else %>
                            <%= link_to "#{conjunto.tipo_do_conjunto} #{conjunto.nome}#{coordenador}", circulo_path(conjunto) %>
                        <% end %>
                        -
                        <% if pode_ver_encontro(conjunto.encontro) %>
                            <%= link_to "#{conjunto.encontro.nome} (#{conjunto.encontro.data_inicio.year})", encontro_path(conjunto.encontro) %>
                        <% else %>
                            <%= conjunto.encontro.nome %>
                        <% end %>
                      </span></li>
                    <% end %>
                </ul>
            <% end %>
            <% if @usuario_logado.eh_super_admin? ||
                    @usuario_logado.encontros_que_esta_coordenando_agora.count > 0 ||
                    @usuario_logado.grupos_que_tem_encontros_que_coordena.count > 0 %>
                <%
                   grupos = @usuario_logado.eh_super_admin? ? Grupo.where(tem_encontros: true) : @usuario_logado.grupos_que_tem_encontros_que_coordena
                   primeiro_grupo = grupos.first

                   if primeiro_grupo
                     encontros = primeiro_grupo.encontros
                     primeiro_encontro = encontros.first
                   else
                     encontros = []
                     primeiro_encontro = nil
                   end

                   if primeiro_encontro
                     conjuntos = primeiro_encontro.conjuntos_que_poderia_adicionar_pessoa(pessoa)
                   else
                     conjuntos = []
                   end

                %>

                <%= link_to 'Adicionar participação', '#', class: 'link_novo link_adicionar_participacao' %>

                <%= form_tag adicionar_pessoa_a_conjunto_url, class: 'adicionar_participacao', style: 'display: none; margin-top: 10px;' do %>
                    <input type="hidden" name="id_pessoa" class="pessoa-id" value="<%= pessoa.id %>"/>
                    <% if primeiro_encontro %>
                        <input type="hidden" class="denominacao" value="<%= primeiro_encontro.denominacao_conjuntos_permanentes %>"/>
                    <% end %>

                    <div class="field">
                        <label for="grupo">Grupo</label><br/>
                        <%= select_tag 'grupo', options_for_select(grupos.collect{|g| [g.nome, g.id]}), include_blank: false, class: 'grupo_participacao' %>
                    </div>

                    <div class="field">
                        <label for="grupo">Encontro</label><br/>
                        <%= select_tag 'encontro', options_for_select(encontros.collect{|e| [e.nome, e.id]}), include_black: false, class: 'encontro_participacao' %>
                    </div>
                    <br/>

                    <div class="field">
                        <label for="grupo">Participação</label><br/>
                        <%= select_tag 'id_conjunto', options_for_select(conjuntos.collect{|c| ["#{c.tipo_do_conjunto} #{c.nome}", c.id]}), include_black: false, class: 'conjunto_participacao' %>
                    </div>
                    <br/>

                    <div class="field">
                      <label><input type="checkbox" name="eh_coordenador" value="true" /> Coordenador</label>
                    </div>

                    <br/>
                    <a href="#" class="link_submeter_adicionar_participacao link_submeter" style="margin-right: 10px">Adicionar</a>
                    <a href="#" class="link_cancelar_adicionar_participacao link_remover">Cancelar</a>
                <% end %>
            <% end %>
        <% end %>

        <% auto_sugestoes = @usuario_logado.auto_sugestoes_de_outra_pessoa(pessoa.id) %>

        <% if auto_sugestoes.count > 0 %>
            <h2 class="sem_espaco_embaixo">Participações a confirmar</h2>

            <table class="zebra participacoes">
                <thead>
                    <tr>
                      <th align="left">Participação</th>
                      <th align="left">Auto-Sugestão</th>
                      <th>Coord.</th>
                      <th>Adicionar ao sistema</th>
                      <th></th>
                      <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% auto_sugestoes.each do |auto_sugestao| %>
                        <%
                           tipo = auto_sugestao.sugestao == 'so_grupo' ? 'grupo' : 'conjunto'

                           nome_grupo = auto_sugestao.grupo.nome

                           if tipo == 'conjunto'
                             nome_encontro = auto_sugestao.encontro.nome
                             ano_encontro = auto_sugestao.encontro.data_inicio.year
                           else
                             nome_encontro = nil
                             ano_encontro = nil
                           end
                        %>

                        <tr>
                          <td>
                            <% if tipo == "grupo" %>
                                <%= auto_sugestao.grupo.nome %>
                            <% else %>
                                <% encontro = auto_sugestao.encontro %>
                                <%= "#{encontro.nome} (#{encontro.data_inicio.year})" %>
                            <% end %>
                          </td>
                          <td class="sugestao">
                            <% if tipo == "grupo" %>
                                -
                            <% else %>
                              <%= auto_sugestao.sugestao %>
                            <% end %>
                          </td>
                          <td align="center" class="sugestao">
                            <% if auto_sugestao.coordenador %>
                                Coord.
                            <% end %>
                          </td>
                          <td align="center">
                            <% if tipo != "grupo" %>
                                <%= select_tag 'conjunto', options_for_select(encontro.conjuntos_ordenados.collect{|c| [c.nome_pra_auto_sugestao, c.id]}), include_blank: false, class: 'conjunto' %>
                                <label>
                                  <input type="checkbox" name="eh_coordenador" class="eh_coordenador" /> Coord.
                                </label>
                            <% else %>
                                <select>
                                  <option><%= auto_sugestao.grupo.nome %></option>
                                </select>
                                <label>
                                    <input type="checkbox" name="eh_coordenador" class="eh_coordenador" /> Coord.
                                </label>
                            <% end %>
                          </td>
                          <td align="center">
                            <%= link_to '', '#', class: 'link_submeter confirmar_auto_sugestao',
                                        data: {
                                                id_auto_sugestao: auto_sugestao.id,
                                                tipo: tipo,
                                                nome_grupo: nome_grupo,
                                                nome_encontro: nome_encontro,
                                                ano_encontro: ano_encontro
                                            }
                            %>
                          </td>
                          <td align="center">
                            <%= link_to '', '#', class: 'link_excluir rejeitar_auto_sugestao',
                                        data: {
                                                id_auto_sugestao: auto_sugestao.id,
                                                tipo: tipo,
                                                nome_grupo: nome_grupo,
                                                nome_encontro: nome_encontro,
                                                ano_encontro: ano_encontro,
                                                texto_sugestao: auto_sugestao.sugestao
                                        }
                            %>
                          </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>

        <% end %>
    </td>
  </tr>
</table>