<script>
  function preencherConjuntos(elemento, json, denominacao) {
      $(elemento).empty();
      $.each(json, function (index, conjunto) {
          var nomeAExibir = '';

          if (conjunto.tipo == 'Equipe') {
              nomeAExibir += 'Equipe ';
          }
          else {
              nomeAExibir += denominacao + ' ';
          }

          nomeAExibir += conjunto.nome

          elemento.append('<option value="' + conjunto.id + '">' + nomeAExibir + '</option>');
      });
  }
</script>

<table class="informacoes_pessoa <%= "conjuge_50_50" if tem_conjuge && !tem_auto_sugestoes %>">
  <tr>
    <td>
        <img src="<%= pessoa.url_imagem(200) %>" class="foto"/>

        <% pessoa.fotos.where.not(id: pessoa.foto_perfil_id).each do |foto| %>
          <br/>
          <%= image_tag foto.foto.url, class: 'foto' %>
        <% end %>
    </td>
    <td>
        <b>Nome completo:</b> <%= pessoa.nome %><br/>
        <b>Nome usual:</b> <%= pessoa.nome_usual %><br/>
        <b>Facebook:</b> <%= link_to "Facebook", pessoa.url_facebook, target: '_blank', class: 'link_facebook' unless pessoa.url_facebook.blank? %><br/>
        <b>Gênero:</b> <%= (pessoa.eh_homem? ? "Homem" : "Mulher") %><br/>
        <b>Data de nascimento:</b> <%= pessoa.nascimento.strftime("%d/%m/%Y") unless pessoa.nascimento.blank? %><br/>
        <b>Email:</b> <%= link_to pessoa.email, "mailto:#{pessoa.email}", target: '_blank' unless pessoa.email.blank? %><br/>
        <b>Endereço:</b> <%= pessoa.endereco %><br/>

        <%
            if pessoa.telefones.count > 1
                titulo_telefones = "Telefones"
                separador_telefones = "<br/>"
                array_telefones = []
                pessoa.telefones.each do |telefone|
                    array_telefones << "#{telefone.telefone} " + helper_whatsapp(telefone) + "(#{telefone.operadora})"
                end
                string_telefones = array_telefones.join("<br/>")
            else
                titulo_telefones = "Telefone"
                separador_telefones = " "
                if pessoa.telefones.count == 1
                    telefone = pessoa.telefones.first
                    string_telefones = "#{telefone.telefone} " + helper_whatsapp(telefone) + "(#{telefone.operadora})"
                else
                    string_telefones = ""
                end
            end
        %>

        <b><%= titulo_telefones %>:</b><%= raw separador_telefones %><%= raw string_telefones %><br/>

        <b>Habilidades musicais:</b> <%= pessoa.instrumentos.collect{|instrumento| instrumento.nome}.join(", ") %><br/>

        <% if pessoa.ultimo_login.present? %>
            <p><b>Último login:</b> <%= pessoa.ultimo_login.strftime('%d/%m/%Y às %H:%M:%S') %></p>
        <% end %>

        <% if pessoa.relacionamentos.count > 0 %>
          <h2 class="sem_espaco_embaixo">Relacionamentos/Parentes</h2>
          <% pessoa.relacionamentos.each do |relacionamento| %>
            <%= render 'relacionamento', relacionamento: relacionamento, pode_ver: @usuario_logado.permissoes.pode_ver_pessoa(relacionamento.outra_pessoa), incluir_form: false %>
          <% end %>

          <br style="clear: both;" />
        <% end %>

        <h2 class="sem_espaco_embaixo">Grupos</h2>
        <ul class="bullets">
          <%= render 'grupos_de_pessoa', pessoa: pessoa, tipo_participacoes: "individuais_e_casal" %>
        </ul>

        <h2 class="sem_espaco_embaixo">Participações em encontros</h2>
        <ul class="bullets">
          <%= render 'participacoes_de_pessoa', pessoa: pessoa, tipo_participacoes: "individuais_e_casal" %>
        </ul>

        <% auto_sugestoes = @usuario_logado.auto_sugestoes_de_outra_pessoa(pessoa.id) %>

        <% if auto_sugestoes.count > 0 %>

            <h2 class="sem_espaco_embaixo">
              Participações 
              <% if tem_conjuge %>
                individuais (não dos dois como casal)
              <% end %>
              pendendo confirmação
            </h2>
          
            <%= render 'confirmar_ou_rejeitar_auto_sugestoes', auto_sugestoes: auto_sugestoes, nome: pessoa.nome, auto_inserido: pessoa.auto_inserido %>

        <% end %>
    </td>
  </tr>
</table>