<script>
    var opts = {
        lines: 7, // The number of lines to draw
        length: 4, // The length of each line
        width: 3, // The line thickness
        radius: 2, // The radius of the inner circle
        corners: 0, // Corner roundness (0..1)
        rotate: 0, // The rotation offset
        direction: 1, // 1: clockwise, -1: counterclockwise
        color: '#fff', // #rgb or #rrggbb or array of colors
        speed: 1, // Rounds per second
        trail: 60, // Afterglow percentage
        shadow: false, // Whether to render a shadow
        hwaccel: false, // Whether to use hardware acceleration
        className: 'spinner', // The CSS class to assign to the spinner
        zIndex: 2e9, // The z-index (defaults to 2000000000)
        top: '12px', // Top position relative to parent
        left: '12px' // Left position relative to parent
    };
    var target = document.getElementById('img_spinner');
    var spinner = new Spinner(opts).spin(target);
</script>

<div class="overlay_carregando">
  <div class="overlay_carregando_fundo"></div>
  <div class="overlay_carregando_texto">
    <span id="img_spinner"></span>
    Carregando...
  </div>
</div>

<% if defined?(@link) %>
    <%= link_to @link[:texto], @link[:path], class: @link[:classe] %>
<% end %>

<% plural_pessoas = @total != 1 %>
<%
   texto_casais = []
   if @numero_casais > 0
     texto_casais << ", sendo #{@numero_casais} casa"
     if @numero_casais == 1
       texto_casais << "l"
     else
       texto_casais << "is"
     end
   end
   texto_casais = texto_casais.join
%>

<% if @total > 0 || @query.present? %>
    <input type="text" id="query_filtrar_pessoas" value="<%= @query %>" />
    <a href="#" id="enviar_query_filtrar_pessoas" class="link_buscar">Buscar</a>

    <% if @query %>
        <a href="#" id="limpar_filtro" class="link_remover">Limpar busca</a>
    <% end %>

    -
<% end %>

<% if @total > 0 %>
    Total de <%= @total %> pessoa<%= "s" if plural_pessoas %><%= texto_casais %>
<% else %>
    Nenhuma pessoa
<% end %>

<% if @total > 0 %>
    <table class="zebra">
        <thead>
        <tr>
            <th align="left">Pessoa</th>
            <th align="left">Cônjuge</th>

            <% if @tipo_pagina == "lista_pessoas" %>
                <th></th>
                <th></th>
            <% elsif @tipo_pagina == "pessoas_no_grupo" %>
                <th>Coordenador</th>
                <th></th>
                <th></th>
                <th></th>
            <% elsif @tipo_pagina == "ex_participantes_de_grupo" %>
                <th>Data em que deixou de participar</th>
                <th></th>
            <% elsif @tipo_pagina == "pessoas_no_conjunto" %>
                <% if @conjunto.tipo != "CoordenacaoEncontro" %>
                    <th>Coordenador</th>
                <% end %>
                <th></th>
            <% end %>
        </tr>
        </thead>

        <tbody>
        <% @pessoas.each do |pessoa| %>
            <%
               if @tipo_pagina == "pessoas_no_grupo" || @tipo_pagina == "pessoas_no_conjunto"
                 if @tipo_pagina == "pessoas_no_grupo"
                    relacionamento = RelacaoPessoaGrupo.where({:pessoa => pessoa, :grupo => @grupo}).first
                 elsif @tipo_pagina == "pessoas_no_conjunto"
                    relacionamento = RelacaoPessoaConjunto.where({:pessoa => pessoa, :conjunto_pessoas => @conjunto}).first
                 end
                 eh_coordenador = relacionamento.eh_coordenador
               end
            %>

            <tr>
                <td>
                    <%
                        if @tipo_pagina == "lista_pessoas" || @tipo_pagina == "ex_participantes_de_grupo"
                            link_pessoa = pessoa
                        elsif @tipo_pagina == "pessoas_no_grupo"
                            link_pessoa = grupo_pessoa_path(@grupo, pessoa)
                        elsif @tipo_pagina == "pessoas_no_conjunto"
                            if @conjunto.tipo == "Equipe"
                                link_pessoa = equipe_pessoa_path(@conjunto, pessoa)
                            elsif @conjunto.tipo == "CoordenacaoEncontro"
                                link_pessoa = encontro_coordenadores_pessoa_path(@conjunto.encontro, pessoa)
                            else
                                link_pessoa = circulo_pessoa_path(@conjunto, pessoa)
                            end
                        end
                    %>
                    <%= link_to link_pessoa do %>
                        <table class="informacoes_pessoa_lista">
                          <tr valign="top">
                            <td>
                              <%= image_tag pessoa.url_imagem(30), class: 'imagem_pessoa_lista' %>
                            </td>
                            <td>
                              <%= "#{pessoa.nome} (#{pessoa.nome_usual})" %>
                              <div class="subtitulo_lista_pessoas">
                                Tel.: <%= pessoa.telefones.collect{|t| "#{t.telefone} (#{t.operadora})"}.join(" / ") %>
                                <% if defined?(@conjunto) %>
                                    <%= pessoa_participando_de_outro_conjunto_em_encontro pessoa, @conjunto %>
                                <% end %>
                              </div>
                            </td>
                          </tr>
                        </table>
                    <% end %>
                </td>
                <td>
                    <% if pessoa.conjuge.present? %>
                        <%
                            if @tipo_pagina == "lista_pessoas" || @tipo_pagina == "ex_participantes_de_grupo"
                                link_conjuge = pessoa.conjuge
                            elsif @tipo_pagina == "pessoas_no_grupo"
                                link_conjuge = grupo_pessoa_path(@grupo, pessoa.conjuge)
                            elsif @tipo_pagina == "pessoas_no_conjunto"
                                if @conjunto.tipo == "Equipe"
                                    link_conjuge = equipe_pessoa_path(@conjunto, pessoa)
                                elsif @conjunto.tipo == "CoordenacaoEncontro"
                                    link_conjuge = encontro_coordenadores_pessoa_path(@conjunto.encontro, pessoa.conjuge)
                                else
                                    link_conjuge = circulo_pessoa_path(@conjunto.id, pessoa.conjuge)
                                end
                            end
                        %>

                        <%= link_to link_conjuge do %>
                          <table class="informacoes_pessoa_lista">
                            <tr valign="top">
                              <td>
                                <%= image_tag pessoa.conjuge.url_imagem(30), class: 'imagem_pessoa_lista' %>
                              </td>
                              <td>
                                <%= "#{pessoa.conjuge.nome} (#{pessoa.conjuge.nome_usual})" %>
                                <div class="subtitulo_lista_pessoas">
                                  Tel.: <%= pessoa.conjuge.telefones.collect{|t| "#{t.telefone} (#{t.operadora})"}.join(" / ") %>
                                  <% if defined?(@conjunto) %>
                                      <%= pessoa_participando_de_outro_conjunto_em_encontro pessoa.conjuge, @conjunto %>
                                  <% end %>
                                </div>
                              </td>
                            </tr>
                          </table>
                        <% end %>
                    <% end %>
                </td>

                <%
                    if pessoa.conjuge.nil?
                        nome_pra_dialog = pessoa.nome
                    else
                        nome_pra_dialog = "#{pessoa.nome_usual} / #{pessoa.conjuge.nome_usual}"
                    end
                %>

                <% if @tipo_pagina == "lista_pessoas" %>

                    <td align="center">
                        <%= link_to 'Editar', edit_pessoa_path(pessoa), class: 'link_editar'  if pode_editar_pessoa(pessoa) %>
                    </td>
                    <td align="center">
                         <%= link_to 'Excluir', '#', data: {pessoa_id: pessoa.id, page: @pessoas.current_page, nome_pessoa: nome_pra_dialog}, class: 'link_excluir link_excluir_pessoa' if pode_excluir_pessoa(pessoa) %>
                    </td>

                <% elsif @tipo_pagina == "pessoas_no_grupo" %>

                    <td align="center">
                        <% if !@usuario_logado.eh_super_admin? %>
                            <%= eh_coordenador ? "Coordenador" : "" %>
                        <% else %>
                            <input type="checkbox" name="eh_coordenador" <%= "checked" if eh_coordenador %> class="checkbox_coordenador" data-pessoa_id="<%= pessoa.id %>" data-page="<%= @pessoas.current_page %>" />
                        <% end %>
                    </td>

                    <td align="center">
                        <%= link_to 'Remover', '#', class: 'link_remover_do_grupo link_remover',
                                    data: {
                                        grupo_id: @grupo.id,
                                        pessoa_id: pessoa.id,
                                        nome_grupo: @grupo.nome,
                                        nome_pessoa: nome_pra_dialog,
                                        page: @pessoas.current_page
                                    }
                        %>
                    </td>

                    <td align="center">
                        <%= link_to 'Editar', grupo_edit_pessoa_path(@grupo, pessoa), class: 'link_editar' if pode_editar_pessoa(pessoa) %>
                    </td>
                    <td align="center">
                      <%= link_to 'Excluir', '#', data: {pessoa_id: pessoa.id, page: @pessoas.current_page, nome_pessoa: nome_pra_dialog}, class: 'link_excluir link_excluir_pessoa' if pode_excluir_pessoa(pessoa) %>
                    </td>

                <% elsif @tipo_pagina == "ex_participantes_de_grupo" %>

                    <% relacao = RelacaoPessoaGrupo.unscoped.where(pessoa: pessoa, grupo: @grupo).first %>

                    <td align="center">
                      <%= relacao.deixou_de_participar_em.strftime('%d/%m/%Y') %>
                    </td>

                    <td align="center">
                      <%= link_to 'Excluir Participação', '#', class: 'link_remover_ex_do_grupo link_remover',
                                  data: {
                                          grupo_id: @grupo.id,
                                          pessoa_id: pessoa.id,
                                          nome_grupo: @grupo.nome,
                                          nome_pessoa: nome_pra_dialog,
                                          page: @pessoas.current_page
                                  }
                      %>
                    </td>

                <% elsif @tipo_pagina == "pessoas_no_conjunto" %>

                    <% if @conjunto.tipo != "CoordenacaoEncontro" %>
                        <td align="center">
                            <% if pode_editar_coordenador_de_conjunto @conjunto %>
                                <input type="checkbox" name="eh_coordenador" <%= "checked" if eh_coordenador %> class="checkbox_coordenador" data-pessoa_id="<%= pessoa.id %>" data-page="<%= @pessoas.current_page %>"/>
                            <% else %>
                                <%= eh_coordenador ? "Coordenador" : "" %>
                            <% end %>
                        </td>
                    <% end %>

                    <td align="center">
                      <% if pode_editar_conjunto(@conjunto) %>
                          <%= link_to 'Remover', '#', class: 'link_remover_do_conjunto link_remover',
                                      data: {
                                              conjunto_id: @conjunto.id,
                                              pessoa_id: pessoa.id,
                                              nome_conjunto: @conjunto.nome,
                                              tipo_conjunto: @conjunto.tipo_do_conjunto,
                                              nome_pessoa: nome_pra_dialog,
                                              page: @pessoas.current_page
                                      }
                          %>
                      <% end %>
                    </td>

                <% end %>

            </tr>

        <% end %>
        </tbody>
    </table>
<% end %>

<%= paginate @pessoas %>