<script>

    $(function () {
        $(".link_excluir_pessoa").on("click", function (evento) {
            evento.preventDefault();

            var pessoaId = $(this).data("pessoa-id");
            var nomePessoa = $(this).data("nome-pessoa");

            $("#dialog_conteudo").html("Tem certeza que deseja excluir <em>" + nomePessoa + "</em>?<p/>");

            $("#dialog_conteudo").append("<p/><a href='#' class='dialog_link_confirmar' data-pessoa-id='" + pessoaId + "'>Confirmar</a>");
            $("#dialog_conteudo").append("<a href='#' class='dialog_link_cancelar'>Cancelar</a>");
            $("#dialog").show();

            $(".dialog_link_confirmar").on("click", function (evento) {
                $.ajax({
                        url: "<%= pessoas_url %>/" + pessoaId,
                        type: "delete",
                        dataType: "json",
                        success: function (response) {
                            <% if defined?(@grupo) %>
                                window.location.href = "<%= grupo_url(@grupo) %>";
                            <% else %>
                                window.location.href = "<%= pessoas_url %>";
                            <% end %>
                        }
                    }
                );
            });

            $(".dialog_link_cancelar").on("click", function (evento) {
                evento.preventDefault();
                esconderDialog();
            });
        });
    });
</script>

<%= render_breadcrumbs "ver" %>

<div class="links_no_titulo">
  <h1><%= @pessoa.label %></h1>

  <% if pode_editar_pessoa @pessoa %>
      <% if defined?(@conjunto) %>
          <% if @conjunto.tipo == 'CoordenacaoEncontro' %>
              <%= link_to 'Editar', encontro_coordenadores_pessoa_editar_path(@conjunto.encontro, @pessoa), class: 'link_editar' %>
          <% elsif @conjunto.tipo == 'Equipe' %>
              <%= link_to 'Editar', equipe_pessoa_editar_path(@conjunto, @pessoa), class: 'link_editar' %>
          <% else %>
              <%= link_to 'Editar', circulo_pessoa_editar_path(@conjunto, @pessoa), class: 'link_editar' %>
          <% end %>
      <% elsif defined?(@grupo) %>
          <%= link_to 'Editar', grupo_edit_pessoa_path(@grupo, @pessoa), class: 'link_editar' %>
      <% else %>
          <%= link_to 'Editar', edit_pessoa_path(@pessoa), class: 'link_editar' %>
      <% end %>

  <% end %>

  <% if pode_excluir_pessoa @pessoa %>
      <%= link_to 'Excluir', '#', data: { pessoa_id: @pessoa.id, nome_pessoa: @pessoa.nome }, class: 'link_excluir link_excluir_pessoa' %>
  <% end %>
</div>

<%= render 'shared/notificacao' %>

<% tem_conjuge = @pessoa.conjuge.present? %>

<%
   auto_sugestoes_pessoa = @usuario_logado.auto_sugestoes_de_outra_pessoa(@pessoa.id)
   pessoa_foi_auto_inserida = @pessoa.auto_inserido

   if tem_conjuge
     auto_sugestoes_conjuge = @usuario_logado.auto_sugestoes_de_outra_pessoa(@pessoa.conjuge.id)
     if @pessoa.conjuge.tem_facebook
       conjuge_foi_auto_inserido = @pessoa.conjuge.auto_inserido
     else
       conjuge_foi_auto_inserido = false
     end

     auto_sugestoes_casal = @usuario_logado.auto_sugestoes_de_casal(@pessoa.id)
   else
     auto_sugestoes_conjuge = []
     auto_sugestoes_casal = []
     conjuge_foi_auto_inserido = false
   end
%>

<% tem_auto_sugestoes = false %>

<% if auto_sugestoes_pessoa.count + auto_sugestoes_conjuge.count + auto_sugestoes_casal.count > 0 %>
    <% tem_auto_sugestoes = true %>

    <p class="notificacao_atencao">
      <% if pessoa_foi_auto_inserida && conjuge_foi_auto_inserido %>
        Esse casal ainda não possui acesso. Seu acesso será liberado a partir do momento que algum coordenador confirmar alguma de suas participações.
      <% elsif pessoa_foi_auto_inserida %>
        Essa pessoa ainda não possui acesso. Seu acesso será liberado a partir do momento que algum coordenador confirmar alguma de suas participações.
      <% elsif conjuge_foi_auto_inserido %>
        O cônjuge dessa pessoa ainda não possui acesso. Seu acesso será liberado a partir do momento que algum coordenador confirmar alguma de suas participações.
      <% else %>
        <% if auto_sugestoes_pessoa.count > 0 && auto_sugestoes_conjuge.count > 0 %>
          Esse casal tem participações a serem revisadas.
        <% elsif auto_sugestoes_pessoa.count > 0 %>
          Essa pessoa tem participações a serem revisadas.
        <% else %>
          O cônjuge dessa pessoa tem participações a serem revisadas.
        <% end %>
      <% end %>
    </p>
<% end %>

<%= render 'informacoes_pessoa', pessoa: @pessoa, participacoes: @participacoes, tem_conjuge: tem_conjuge, tem_auto_sugestoes: tem_auto_sugestoes %>

<% if tem_conjuge %>
    <%= render 'informacoes_pessoa', pessoa: @pessoa.conjuge, participacoes: @participacoes_conjuge, tem_conjuge: tem_conjuge, tem_auto_sugestoes: tem_auto_sugestoes %>
<% end %>

<br style="clear: both;"/>

<% if tem_conjuge %>

  <% if auto_sugestoes_casal.count > 0 %>

      <h2 class="sem_espaco_embaixo">Participações dos dois como casal pendendo confirmação</h2>

      <table class="zebra participacoes">
          <thead>
              <tr>
                <th align="left">Participação</th>
                <th align="left">Auto-Sugestão</th>
                <th>Coord.</th>
                <th>Adicionar ao sistema</th>
                <th></th>
                <th></th>
              </tr>
          </thead>
          <tbody>
              <% auto_sugestoes_casal.each do |auto_sugestao| %>
                  <%
                     tipo = auto_sugestao.sugestao == 'so_grupo' ? 'grupo' : 'conjunto'

                     nome_grupo = auto_sugestao.grupo.nome

                     if tipo == 'conjunto'
                       nome_encontro = auto_sugestao.encontro.nome
                       ano_encontro = auto_sugestao.encontro.data_inicio.year
                     else
                       nome_encontro = nil
                       ano_encontro = nil
                     end
                  %>

                  <tr>
                    <td>
                      <% if tipo == "grupo" %>
                          <%= auto_sugestao.grupo.nome %>
                      <% else %>
                          <% encontro = auto_sugestao.encontro %>
                          <%= "#{encontro.nome} (#{encontro.data_inicio.year})" %>
                      <% end %>
                    </td>
                    <td class="sugestao">
                      <% if tipo == "grupo" %>
                          -
                      <% else %>
                        <%= auto_sugestao.sugestao %>
                      <% end %>
                    </td>
                    <td align="center" class="sugestao">
                      <% if auto_sugestao.coordenador %>
                          Coord.
                      <% end %>
                    </td>
                    <td align="center">
                      <% if tipo != "grupo" %>
                          <%= select_tag 'conjunto', options_for_select(encontro.conjuntos_ordenados.collect{|c| [c.nome_pra_auto_sugestao, c.id]}), include_blank: false, class: 'conjunto' %>
                          <label>
                            <input type="checkbox" name="eh_coordenador" class="eh_coordenador" /> Coord.
                          </label>
                      <% else %>
                          <select>
                            <option><%= auto_sugestao.grupo.nome %></option>
                          </select>
                          <label>
                              <input type="checkbox" name="eh_coordenador" class="eh_coordenador" /> Coord.
                          </label>
                      <% end %>
                    </td>
                    <td align="center">
                      <%= link_to '', '#', class: 'link_submeter confirmar_auto_sugestao',
                                  data: {
                                          id_auto_sugestao: auto_sugestao.id,
                                          tipo: tipo,
                                          nome_grupo: nome_grupo,
                                          nome_encontro: nome_encontro,
                                          ano_encontro: ano_encontro
                                      }
                      %>
                    </td>
                    <td align="center">
                      <%= link_to '', '#', class: 'link_excluir rejeitar_auto_sugestao',
                                  data: {
                                          id_auto_sugestao: auto_sugestao.id,
                                          tipo: tipo,
                                          nome_grupo: nome_grupo,
                                          nome_encontro: nome_encontro,
                                          ano_encontro: ano_encontro,
                                          texto_sugestao: auto_sugestao.sugestao
                                  }
                      %>
                    </td>
                  </tr>
              <% end %>
          </tbody>
      </table>

  <% end %>
<% end %>