<script>

    $(function () {
        $(".link_excluir_pessoa").on("click", function (evento) {
            evento.preventDefault();

            var pessoaId = $(this).data("pessoa-id");
            var nomePessoa = $(this).data("nome-pessoa");

            $("#dialog_conteudo").html("Tem certeza que deseja excluir <em>" + nomePessoa + "</em>?<p/>");

            $("#dialog_conteudo").append("<p/><a href='#' class='dialog_link_confirmar' data-pessoa-id='" + pessoaId + "'>Confirmar</a>");
            $("#dialog_conteudo").append("<a href='#' class='dialog_link_cancelar'>Cancelar</a>");
            $("#dialog").show();

            $(".dialog_link_confirmar").on("click", function (evento) {
                $.ajax({
                        url: "<%= pessoas_url %>/" + pessoaId,
                        type: "delete",
                        dataType: "json",
                        success: function (response) {
                            <% if defined?(@grupo) %>
                                window.location.href = "<%= grupo_url(@grupo) %>";
                            <% else %>
                                window.location.href = "<%= pessoas_url %>";
                            <% end %>
                        }
                    }
                );
            });

            $(".dialog_link_cancelar").on("click", function (evento) {
                evento.preventDefault();
                esconderDialog();
            });
        });
    });
</script>

<%= render_breadcrumbs "ver" %>

<div class="links_no_titulo">
  <h1><%= @pessoa.label %></h1>

  <% if pode_editar_pessoa @pessoa %>
      <% if defined?(@conjunto) %>
          <% if @conjunto.tipo == 'CoordenacaoEncontro' %>
              <%= link_to 'Editar', encontro_coordenadores_pessoa_editar_path(@conjunto.encontro, @pessoa), class: 'link_editar' %>
          <% elsif @conjunto.tipo == 'Equipe' %>
              <%= link_to 'Editar', equipe_pessoa_editar_path(@conjunto, @pessoa), class: 'link_editar' %>
          <% else %>
              <%= link_to 'Editar', circulo_pessoa_editar_path(@conjunto, @pessoa), class: 'link_editar' %>
          <% end %>
      <% elsif defined?(@grupo) %>
          <%= link_to 'Editar', grupo_edit_pessoa_path(@grupo, @pessoa), class: 'link_editar' %>
      <% else %>
          <%= link_to 'Editar', edit_pessoa_path(@pessoa), class: 'link_editar' %>
      <% end %>

  <% end %>

  <% if pode_excluir_pessoa @pessoa %>
      <%= link_to 'Excluir', '#', data: { pessoa_id: @pessoa.id, nome_pessoa: @pessoa.nome }, class: 'link_excluir link_excluir_pessoa' %>
  <% end %>
</div>

<%= render 'shared/notificacao' %>

<% if @usuario_logado.auto_sugestoes_de_outra_pessoa(@pessoa.id).count > 0 %>
    <p class="notificacao_atencao">
      <% if @pessoa.auto_inserido %>
        Essa pessoa ainda não possui acesso. Seu acesso será liberado a partir do momento que algum coordenador confirmar alguma de suas participações.
      <% else %>
        Essa pessoa tem participações a serem revisadas.
      <% end %>
    </p>
<% end %>

<% tem_conjuge = @pessoa.conjuge.present? %>

<%= render 'informacoes_pessoa', pessoa: @pessoa, participacoes: @participacoes, tem_conjuge: tem_conjuge %>

<% if tem_conjuge %>
    <%= render 'informacoes_pessoa', pessoa: @pessoa.conjuge, participacoes: @participacoes_conjuge, tem_conjuge: tem_conjuge %>
<% end %>

<br style="clear: both;"/>