<script>

    $(function () {
        $(".link_excluir").on("click", function (evento) {
            evento.preventDefault();

            var pessoaId = $(this).data("pessoa-id");
            var nomePessoa = $(this).data("nome-pessoa");

            $("#dialog_conteudo").html("Tem certeza que deseja excluir <em>" + nomePessoa + "</em>?<p/>");

            $("#dialog_conteudo").append("<p/><a href='#' class='dialog_link_confirmar' data-pessoa-id='" + pessoaId + "'>Confirmar</a>");
            $("#dialog_conteudo").append("<a href='#' class='dialog_link_cancelar'>Cancelar</a>");
            $("#dialog").show();

            $(".dialog_link_confirmar").on("click", function (evento) {
                $.ajax({
                        url: "<%= pessoas_url %>/" + pessoaId,
                        type: "delete",
                        dataType: "json",
                        success: function (response) {
                            window.location.href = "<%= pessoas_url %>";
                        }
                    }
                );
            });

            $(".dialog_link_cancelar").on("click", function (evento) {
                evento.preventDefault();
                esconderDialog();
            });
        });
    });
</script>

<% if defined?(@grupo) || @usuario_logado.eh_super_admin? %>
    <%= render_breadcrumbs "ver" %>
<% end %>

<div class="links_no_titulo">
  <h1><%= @nome_usual %></h1>

  <% if pode_editar_pessoa @pessoa %>
      <% if defined?(@grupo) %>
          <%= link_to 'Editar', edit_pessoa_path(@pessoa, grupo_id: @grupo.id), class: 'link_editar' %>
      <% else %>
          <%= link_to 'Editar', edit_pessoa_path(@pessoa), class: 'link_editar' %>
      <% end %>

  <% end %>

  <% if pode_excluir_pessoa @pessoa %>
      <%= link_to 'Excluir', '#', data: { pessoa_id: @pessoa.id, nome_pessoa: @pessoa.nome }, class: 'link_excluir' %>
  <% end %>
</div>

<% tem_conjuge = @pessoa.conjuge.present? %>

<%= render 'informacoes_pessoa', pessoa: @pessoa, tem_conjuge: tem_conjuge %>

<% if tem_conjuge %>
    <%= render 'informacoes_pessoa', pessoa: @pessoa.conjuge, tem_conjuge: tem_conjuge %>
<% end %>

<br style="clear: both;"/>