<script>
    $(function () {
        $(".link_excluir_pessoa").on("click", function (evento) {
            evento.preventDefault();

            var pessoaId = $(this).data("pessoa-id");
            var nomePessoa = $(this).data("nome-pessoa");

            $("#dialog_conteudo").html("Tem certeza que deseja excluir <em>" + nomePessoa + "</em>?<p/>");

            $("#dialog_conteudo").append("<p/><a href='#' class='dialog_link_confirmar' data-pessoa-id='" + pessoaId + "' style='position: relative;'><span class='img_spinner' style='display: none;'></span><span class='texto'>Confirmar</span></a>");
            $("#dialog_conteudo").append("<a href='#' class='dialog_link_cancelar'>Cancelar</a>");
            $("#dialog").show();

            $(".dialog_link_confirmar").on("click", function (evento) {
                evento.preventDefault();
                
                $(this).on('click', function (evento) {evento.preventDefault();});
                $(this).addClass('dialog_link_desativado');
                $(this).children('.texto').html('Carregando...');
                iniciarSpinners();
                $('.dialog_link_cancelar').hide();

                $.ajax({
                        url: "<%= pessoas_url %>/" + pessoaId,
                        type: "delete",
                        dataType: "json",
                        success: function (response) {
                            <% if defined?(@grupo) %>
                                window.location.href = "<%= grupo_url(@grupo) %>";
                            <% else %>
                                window.location.href = "<%= pessoas_url %>";
                            <% end %>
                        }
                    }
                );
            });

            $(".dialog_link_cancelar").on("click", function (evento) {
                evento.preventDefault();
                esconderDialog();
            });
        });

        $('.confirmar_auto_sugestao').on('click', function (evento) {
          evento.preventDefault();

          var tipo = $(this).data('tipo');
          var tr = $(this).closest('tr');
          var selectConjunto = $(tr).find('.conjunto');

          var idConjunto = null;
          if (tipo != 'grupo') {
              idConjunto = $(selectConjunto).val();
          }

          var idAutoSugestao = $(this).data('id-auto-sugestao');
          var ehCoordenador = $(tr).find('.eh_coordenador').prop('checked');
          var nomePessoa = $(this).data('nome');
          var autoInserido = $(this).data('auto-inserido') == 'true';

          var msg = '';

          if (tipo == 'grupo') {
              var nomeGrupo = $(this).data('nome-grupo');
              msg = 'Tem certeza que deseja adicionar <em>' + nomePessoa + '</em> a <em>' + nomeGrupo + '</em>?';
          }
          else {
              var nomeEncontro = $(this).data('nome-encontro');
              var anoEncontro = $(this).data('ano-encontro');
              var conjunto = $(selectConjunto).children(':selected').text();

              msg = 'Tem certeza que deseja adicionar <em>' + nomePessoa + '</em> a <em>' + conjunto + ' - ' + nomeEncontro + ' (' + anoEncontro + ')</em>?';
          }

          if (autoInserido) {
            msg += ' Essa pessoa ainda não tem acesso ao sistema, e ao adicioná-la, o acesso será liberado.'
          }

          $("#dialog_conteudo").html(msg);
          $("#dialog_conteudo").append("<p/><a href='#' class='dialog_link_confirmar'>OK</a>");
          $("#dialog_conteudo").append("<a href='#' class='dialog_link_cancelar'>Cancelar</a>");
          $("#dialog").show();

          $(".dialog_link_confirmar").on("click", function (evento) {
              evento.preventDefault();

              $.post(
                      "<%= confirmar_auto_sugestao_url %>",
                      {
                          id_auto_sugestao: idAutoSugestao,
                          id_conjunto: idConjunto,
                          eh_coordenador: ehCoordenador
                      },
                      function (resposta) {
                          if (resposta == 'ok') {
                              window.location.reload();
                          }
                      }
              );
          });

          $(".dialog_link_cancelar").on("click", function (evento) {
              evento.preventDefault();
              esconderDialog();
          });
        });

        $('.rejeitar_auto_sugestao').on('click', function (evento) {
          evento.preventDefault();

          var tipo = $(this).data('tipo');
          var tr = $(this).closest('tr');
          var selectConjunto = $(tr).find('.conjunto');
          var idAutoSugestao = $(this).data('id-auto-sugestao');
          var textoSugestao = $(this).data('texto-sugestao')
          var nomePessoa = $(this).data('nome');

          var msg = '';

          if (tipo == 'grupo') {
              var nomeGrupo = $(this).data('nome-grupo');
              msg = 'Tem certeza que deseja rejeitar a participação de <em>' + nomePessoa + '</em> em <em>' + nomeGrupo + '</em>?';
          }
          else {
              var nomeEncontro = $(this).data('nome-encontro');
              var anoEncontro = $(this).data('ano-encontro');
              var conjunto = $(selectConjunto).children(':selected').text();

              msg = 'Tem certeza que deseja rejeitar a participação <em>"' + textoSugestao + '"</em> de <em>' + nomePessoa + '</em> em <em>' + nomeEncontro + ' (' + anoEncontro + ')</em>?';
          }

          $("#dialog_conteudo").html(msg);
          $("#dialog_conteudo").append("<p/><a href='#' class='dialog_link_confirmar'>OK</a>");
          $("#dialog_conteudo").append("<a href='#' class='dialog_link_cancelar'>Cancelar</a>");
          $("#dialog").show();

          $(".dialog_link_confirmar").on("click", function (evento) {
              evento.preventDefault();

              $.post(
                      "<%= rejeitar_auto_sugestao_url %>",
                      {
                          id_auto_sugestao: idAutoSugestao
                      },
                      function (resposta) {
                          if (resposta == 'ok') {
                              window.location.reload();
                          }
                      }
              );
          });

          $(".dialog_link_cancelar").on("click", function (evento) {
              evento.preventDefault();
              esconderDialog();
          });
        });
    });
</script>

<%= render_breadcrumbs "ver" %>

<div class="links_no_titulo">
  <h1><%= @pessoa.label %></h1>

  <% if @usuario_logado.permissoes.pode_editar_pessoa(@pessoa) %>
      <% if defined?(@conjunto) %>
          <% if @conjunto.tipo == 'CoordenacaoEncontro' %>
              <%= link_to 'Editar', encontro_coordenadores_pessoa_editar_path(@conjunto.encontro, @pessoa), class: 'link_editar' %>
          <% elsif @conjunto.tipo == 'Equipe' %>
              <%= link_to 'Editar', equipe_pessoa_editar_path(@conjunto, @pessoa), class: 'link_editar' %>
          <% else %>
              <%= link_to 'Editar', circulo_pessoa_editar_path(@conjunto, @pessoa), class: 'link_editar' %>
          <% end %>
      <% elsif defined?(@grupo) %>
          <%= link_to 'Editar', grupo_edit_pessoa_path(@grupo, @pessoa), class: 'link_editar' %>
      <% else %>
          <%= link_to 'Editar', edit_pessoa_path(@pessoa), class: 'link_editar' %>
      <% end %>

  <% end %>

  <% if @usuario_logado.permissoes.pode_excluir_pessoa @pessoa %>
      <%= link_to 'Excluir', '#', data: { pessoa_id: @pessoa.id, nome_pessoa: @pessoa.nome }, class: 'link_excluir link_excluir_pessoa' %>
  <% end %>
</div>

<%= render 'shared/notificacao' %>

<% tem_conjuge = @pessoa.conjuge.present? %>

<%
   auto_sugestoes_pessoa = @usuario_logado.auto_sugestoes_de_outra_pessoa(@pessoa.id)
   pessoa_foi_auto_inserida = @pessoa.auto_inserido

   if tem_conjuge
     auto_sugestoes_conjuge = @usuario_logado.auto_sugestoes_de_outra_pessoa(@pessoa.conjuge.id)
     if @pessoa.conjuge.tem_facebook
       conjuge_foi_auto_inserido = @pessoa.conjuge.auto_inserido
     else
       conjuge_foi_auto_inserido = false
     end

     auto_sugestoes_casal = @usuario_logado.auto_sugestoes_de_casal(@pessoa.id)
   else
     auto_sugestoes_conjuge = []
     auto_sugestoes_casal = []
     conjuge_foi_auto_inserido = false
   end
%>

<% tem_auto_sugestoes = false %>

<% if auto_sugestoes_pessoa.count + auto_sugestoes_conjuge.count + auto_sugestoes_casal.count > 0 %>
    <% tem_auto_sugestoes = true %>

    <p class="notificacao_atencao">
      <% if pessoa_foi_auto_inserida && conjuge_foi_auto_inserido %>
        Esse casal ainda não possui acesso. Seu acesso será liberado a partir do momento que algum coordenador confirmar alguma de suas participações.
      <% elsif pessoa_foi_auto_inserida %>
        Essa pessoa ainda não possui acesso. Seu acesso será liberado a partir do momento que algum coordenador confirmar alguma de suas participações.
      <% elsif conjuge_foi_auto_inserido %>
        O cônjuge dessa pessoa ainda não possui acesso. Seu acesso será liberado a partir do momento que algum coordenador confirmar alguma de suas participações.
      <% else %>
        <% if auto_sugestoes_casal.count > 0 || (auto_sugestoes_pessoa.count > 0 && auto_sugestoes_conjuge.count > 0) %>
          Esse casal tem participações a serem revisadas.
        <% elsif auto_sugestoes_pessoa.count > 0 %>
          Essa pessoa tem participações a serem revisadas.
        <% else %>
          O cônjuge dessa pessoa tem participações a serem revisadas.
        <% end %>
      <% end %>
    </p>
<% end %>

<%= render 'informacoes_pessoa', pessoa: @pessoa, tem_conjuge: tem_conjuge, tem_auto_sugestoes: tem_auto_sugestoes %>

<% if tem_conjuge %>
    <%= render 'informacoes_pessoa', pessoa: @pessoa.conjuge, tem_conjuge: tem_conjuge, tem_auto_sugestoes: tem_auto_sugestoes %>
<% end %>

<br style="clear: both;"/>

<% if tem_conjuge %>

  <% if auto_sugestoes_casal.count > 0 %>

      <h2 class="sem_espaco_embaixo">Participações dos dois como casal pendendo confirmação</h2>

      <%= render 'confirmar_ou_rejeitar_auto_sugestoes', auto_sugestoes: auto_sugestoes_casal, nome: "#{@pessoa.nome_usual} / #{@pessoa.conjuge.nome_usual}", auto_inserido: @pessoa.auto_inserido %>

  <% end %>
<% end %>