<script>
    $(function () {
        $("#link_enviar").on("click", function (e) {
            e.preventDefault();

            $(this).on('click', function (evento) {evento.preventDefault();});
            $(this).addClass('link_carregando');
            $(this).children('.texto').html('Carregando...');
            iniciarSpinners();
            $('#link_excluir_grupo').hide();

            $(this).closest("form").submit();
        });

        <% if !@grupo.new_record? %>
            $('#link_excluir_grupo').on('click', function (evento) {
                evento.preventDefault();

                var idGrupo = $(this).data("id-grupo");
                var nome = $(this).data("nome-grupo");

                $("#dialog_conteudo").html("Tem certeza que deseja excluir o grupo <em>" + nome + "</em> do sistema?<p/>");
                $("#dialog_conteudo").append("<a href='#' class='confirmar_excluir_grupo dialog_link_confirmar' data-id-grupo='" + idGrupo + "' style='position: relative;'><span class='img_spinner' style='display: none;'></span><span class='texto'>Confirmar</span></a>")
                $("#dialog_conteudo").append("<a href='#' class='dialog_link_cancelar'>Cancelar</a>");
                $("#dialog").show();

                $(".dialog_link_cancelar").on("click", function (evento) {
                    evento.preventDefault();
                    esconderDialog();
                });

            
                $(".confirmar_excluir_grupo").on("click", function (evento) {
                    evento.preventDefault();

                    $(this).on('click', function (evento) {evento.preventDefault();});
                    $(this).addClass('dialog_link_desativado');
                    $(this).children('.texto').html('Carregando...');
                    iniciarSpinners();
                    $('.dialog_link_cancelar').hide();

                    var idGrupo = $(this).data("id-grupo");
                    var page = $(this).data("page");

                    $.ajax({url: "<%= grupo_url(@grupo) %>.json",
                                type: "delete",
                                success: function (response) {
                                    window.location.href = "<%= grupos_url %>";
                                }
                            }
                    );
                });
            });
        <% end %>
    });
</script>

<%= form_for(@grupo, html: {class: 'espaco_embaixo'}) do |f| %>
    <div class="field">
        <%= f.label "Nome*", :for => "nome" %><br/>
        <div class="erro_form"><%= @grupo.errors[:nome].first %></div>
        <%= f.text_field :nome, size: '50' %>
    </div>

    <div class="field">
        <%= f.label "Tem encontros?*", :for => "tem_encontros" %><br/>
        <div class="erro_form"><%= @grupo.errors[:tem_encontros].first %></div>
        <%= f.check_box :tem_encontros %>
    </div>

    <% if !@grupo.new_record? %>
        <% grupos_pra_ver_equipes = Grupo.where("tem_encontros = true AND id != #{@grupo.id}")%>

        <% if @grupo.tem_encontros && grupos_pra_ver_equipes.count > 0 %>
            <br/>

            <div class="field">
              <%= f.label "Outros grupos cujas equipes são visíveis a esse grupo" %><br/>
              <% grupos_pra_ver_equipes.each do |outro_grupo| %>
                  <label>
                    <%= check_box_tag('outros_grupos_que_pode_ver_equipes[]', outro_grupo.id, @grupo.outros_grupos_que_pode_ver_equipes.include?(outro_grupo)) %> <%= outro_grupo.nome %>
                  </label>
              <% end %>
            </div>
        <% end %>
    <% end %>

    <br/>

    <a href="#" id="link_enviar" class="link_submeter" style="position: relative;">
        <span class="img_spinner" style="display: none;" data-corspinner="#aaa"></span>
        <span class="texto">Salvar</span>
    </a>

    <% if !@grupo.new_record? %>
        <%= link_to 'Excluir', '#', data: { nome_grupo: @grupo.nome, id_grupo: @grupo.id }, class: 'link_excluir', id: 'link_excluir_grupo', style: 'margin-left: 10px;' %>
    <% end %>
<% end %>
