<script src="<%= lista_pessoas_js_url %>"></script>

<script>
    var listaPessoas;

    function recarregar() {
        listaPessoas.carregar();
    }

    $(function () {
        listaPessoas = new ListaPessoas($("#pessoas_no_grupo"),
                                        "pessoas_no_grupo",
                                        <%= @grupo.id %>,
                                        function () {
                                            <% if @usuario_logado.eh_super_admin? %>
                                                $(".checkbox_coordenador").on("click", function(e) {
                                                    var pessoa_id = $(this).data("pessoa_id");
                                                    var eh_coordenador = $(this).is(":checked");

                                                    $.post("<%= setar_coordenador_de_grupo_url %>",
                                                            {
                                                                "pessoa_id": pessoa_id,
                                                                "grupo_id": <%= @grupo.id %>,
                                                                "eh_coordenador": eh_coordenador
                                                            },
                                                            function(response) {
                                                                if (response != "ok") {
                                                                    alert("Erro ao setar coordenador");
                                                                }
                                                                else {
                                                                    recarregar();
                                                                }
                                                            }
                                                    );
                                                });
                                            <% end %>
                                        });
        listaPessoas.inicializar();
    });
</script>

<script>
    $(function () {
        listaPessoas.carregar();
    });
</script>

<%= render_breadcrumbs "editar" %>

<h1>Editar <%= @grupo.nome %></h1>

<%= render 'shared/notificacao' %>

<% if @usuario_logado.eh_super_admin? %>
    <%= render 'form' %>
<% end %>

<div id="pessoas_no_grupo"></div>

<h2>Adicionar pessoa ao grupo:</h2>

<%= link_to 'Criar nova pessoa e adicionar ao grupo', new_pessoa_url(grupo_id: @grupo.id), class: 'link_novo'  %>

<h3>...ou adicionar pessoa já cadastrada no sistema</h3>
<%= render 'pessoas/pesquisa_pessoas', tipo_pesquisa: "pesquisa_grupo" %>