<script src="<%= lista_pessoas_js_url %>"></script>

<script>
    var listaPessoas;

    function recarregar(numeroPagina) {
        listaPessoas.carregar(numeroPagina);
    }

    $(function () {
        listaPessoas = new ListaPessoas($("#ex_participantes_de_grupo"),
                "ex_participantes_de_grupo",
                true,
                "grupo_id",
                <%= @grupo.id %>,
                true,
                true);

        listaPessoas.inicializar();
    });
</script>

<%= render_breadcrumbs "ex_participantes" %>

<h1>Ex-participantes de <%= @grupo.nome %></h1>

<%= render 'shared/notificacao' %>

<div id="ex_participantes_de_grupo" style="position: relative;">
  <div class="overlay_carregando overlay_carregando_aparecer_logo">
    <div class="overlay_carregando_fundo"></div>
    <div class="overlay_carregando_texto">
      <span class="img_spinner"></span>
      Carregando...
    </div>
    <br/>
  </div>
</div>