<script src="<%= lista_pessoas_js_url %>"></script>

<script>
    var listaPessoas;

    function recarregar(numeroPagina) {
        listaPessoas.carregar(numeroPagina);
    }

    $(function () {
        var opts = {
            lines: 7, // The number of lines to draw
            length: 4, // The length of each line
            width: 3, // The line thickness
            radius: 2, // The radius of the inner circle
            corners: 0, // Corner roundness (0..1)
            rotate: 0, // The rotation offset
            direction: 1, // 1: clockwise, -1: counterclockwise
            color: '#fff', // #rgb or #rrggbb or array of colors
            speed: 1, // Rounds per second
            trail: 60, // Afterglow percentage
            shadow: false, // Whether to render a shadow
            hwaccel: false, // Whether to use hardware acceleration
            className: 'spinner', // The CSS class to assign to the spinner
            zIndex: 2e9, // The z-index (defaults to 2000000000)
            top: '12px', // Top position relative to parent
            left: '12px' // Left position relative to parent
        };
        var target = document.getElementById('img_spinner');
        var spinner = new Spinner(opts).spin(target);

        listaPessoas = new ListaPessoas($("#pessoas_no_grupo"),
                                        "pessoas_no_grupo",
                                        true,
                                        "grupo_id",
                                        <%= @grupo.id %>,
                                        true,
                                        true,
                                        function () {
                                            <% if @usuario_logado.eh_super_admin? %>
                                                $(".checkbox_coordenador").on("click", function(e) {
                                                    var pessoa_id = $(this).data("pessoa_id");
                                                    var eh_coordenador = $(this).is(":checked");
                                                    var page = $(this).data("page");

                                                    $.post("<%= setar_coordenador_de_grupo_url %>",
                                                            {
                                                                "pessoa_id": pessoa_id,
                                                                "grupo_id": <%= @grupo.id %>,
                                                                "eh_coordenador": eh_coordenador,
                                                                "page": page
                                                            },
                                                            function(response) {
                                                                if (response == "erro") {
                                                                    alert("Erro ao setar coordenador");
                                                                }
                                                                else {
                                                                    recarregar(response);
                                                                }
                                                            }
                                                    );
                                                });
                                            <% end %>
                                        });
        listaPessoas.inicializar();
    });
</script>

<%= render_breadcrumbs "editar" %>

<h1><%= @grupo.nome %></h1>

<% if @grupo.tem_encontros? %>
    <%= link_to "Encontros de #{@grupo.nome}", grupo_encontros_url(@grupo), class: "link_encontros" %>
    <br/>
<% end %>

<span id="ex_participantes" <% if @grupo.ex_relacoes.count == 0 %>style="display: none;"<% end %>>
    <%= link_to "Ex-participantes de #{@grupo.nome}", grupo_ex_participantes_url(@grupo), class: "link_ex_participantes" %>
    <br/>
</span>

<p/>

<% if @usuario_logado.eh_super_admin? %>
    <%= render 'form' %>
<% end %>

<%= render 'shared/notificacao' %>

<div id="pessoas_no_grupo" style="position: relative;">
  <div class="overlay_carregando overlay_carregando_aparecer_logo">
    <div class="overlay_carregando_fundo"></div>
    <div class="overlay_carregando_texto">
      <span id="img_spinner"></span>
      Carregando...
    </div>
    <br/>
  </div>
</div>

<h2>Adicionar pessoa ao grupo:</h2>

<%= link_to 'Criar nova pessoa e adicionar ao grupo', grupo_new_pessoa_path(@grupo), class: 'link_novo'  %>

<h3>...ou adicionar pessoa já cadastrada no sistema</h3>
<%= render 'pessoas/pesquisa_pessoas_por_nome', tipo_pesquisa: "pesquisa_grupo" %>