<img src="<%= pessoa.url_imagem(150) %>" class="imagem_facebook_detalhe"/>

<div style="display: table-cell;">
	<b>Nome completo:</b><br/>
	<%= pessoa.nome %>
	<p/>
	<b>Nome usual:</b><br/>
	<%= pessoa.nome_usual %>
	<p/>

	<%
	    if pessoa.telefones.count > 1
	        titulo_telefones = "Telefones"
	        separador_telefones = "<br/>"
	        array_telefones = []
	        pessoa.telefones.each do |telefone|
	            array_telefones << "#{telefone.telefone} (#{telefone.operadora})"
	        end
	        string_telefones = array_telefones.join("<br/>")
	    else
	        titulo_telefones = "Telefone"
	        separador_telefones = " "
	        if pessoa.telefones.count == 1
	            telefone = pessoa.telefones.first
	            string_telefones = "#{telefone.telefone} (#{telefone.operadora})"
	        else
	            string_telefones = ""
	        end
	    end
	%>

	<b><%= titulo_telefones %>:</b>
	<%= raw separador_telefones %><%= raw string_telefones %>
	<p/>

	<b>Facebook:</b><br/>
	<%= link_to "Facebook", pessoa.url_facebook, target: '_blank', class: 'link_facebook' unless pessoa.url_facebook.blank? %>
	<p/>
	<b>Gênero:</b><br/>
	<%= (pessoa.eh_homem? ? "Homem" : "Mulher") %>
	<p/>
	<b>Data de nascimento:</b><br/>
	<%= pessoa.nascimento.strftime("%d/%m/%Y") unless pessoa.nascimento.blank? %>
	<p/>
	<b>Email:</b><br/>
	<%= link_to pessoa.email, "mailto:#{pessoa.email}", target: '_blank' unless pessoa.email.blank? %>
	<p/>
	<b>Endereço:</b><br/>
	<%= pessoa.endereco %>
	<p/>
	<b>Habilidades musicais:</b><br/>
	<%= pessoa.instrumentos.collect{|instrumento| instrumento.nome}.join(", ") %>
</div>

<% if @usuario_logado.grupos_em_que_pode_adicionar_outra_pessoa(pessoa).count + pessoa.grupos.count > 0 &&
                pessoa.auto_inserido == false %>

	<h2 class="sem_espaco_embaixo">Grupos</h2>

	<% if pessoa.participacoes_em_grupos.count > 0 %>
	    <ul class="bullets">
	        <% pessoa.participacoes_em_grupos.each do |participacao| %>
	          <li>
	            <% coordenador = participacao[:grupo].coordenadores.include?(pessoa) ? ' (Coord.)' : '' %>

	            <% if @usuario_logado.permissoes.pode_gerenciar_grupo participacao[:grupo] %>
	                <%= link_to "#{participacao[:grupo].nome}#{coordenador}", participacao[:grupo] %>
	            <% else %>
	                <%= "#{participacao[:grupo].nome}#{coordenador}" %>
	            <% end %>

	            <% if !participacao[:ativo] %>
	                (ex-participante)
	            <% end %>
	          </li>
	        <% end %>
	    </ul>
	<% end %>

<% end %>

<% if (@usuario_logado.eh_super_admin? ||
                @usuario_logado.encontros_que_esta_coordenando_agora.count > 0 ||
                @usuario_logado.grupos_que_tem_encontros_que_coordena.count > 0 ||
                participacoes.count > 0) &&
                pessoa.auto_inserido == false %>
    <h2 class="sem_espaco_embaixo">Participações em encontros</h2>
    <% if participacoes.count > 0 %>
        <ul class="bullets">
            <% participacoes.each do |conjunto| %>
              <% texto_encontro_participacao = "#{conjunto.encontro.nome} (#{conjunto.encontro.data_inicio.year})" %>

              <% cor = conjunto.cor.present? ? conjunto.cor.hex_cor : nil %>
              <% 
								if cor.present? 
									style = "color: #{cor};"
								else
									style = ""
								end 
							%>

              <li style="<%= style %>"><span>
                <% if @usuario_logado.permissoes.pode_gerenciar_encontro(conjunto.encontro) %>
                    <%= link_to texto_encontro_participacao, mobile_encontro_path(conjunto.encontro) %>
                <% else %>
                    <%= texto_encontro_participacao %>
                <% end %>

                -

                <% coordenador = conjunto.coordenadores.include?(pessoa) ? ' (Coord.)' : '' %>

                <%
                  if conjunto.tipo == 'Equipe'
                    texto_conjunto_participacao = "Equipe #{conjunto.nome}#{coordenador}"
                  elsif conjunto.tipo == 'CoordenacaoEncontro'
                    texto_conjunto_participacao = "Coordenação do Encontro"
                  else
                    texto_conjunto_participacao = "#{conjunto.tipo_do_conjunto} #{conjunto.nome}#{coordenador}"
                  end
                %>    
                <% if @usuario_logado.permissoes.pode_gerenciar_conjunto(conjunto) %>
                  <%= link_to texto_conjunto_participacao, mobile_conjunto_path(conjunto), style: style %>
                <% else %>
                  <%= texto_conjunto_participacao %>
                <% end %>
              </span></li>
            <% end %>
        </ul>
    <% end %>

<% end %>