<center>
	<img src="<%= pessoa.url_imagem(150) %>" class="imagem_facebook_detalhe"/>
</center>

<p/>

<div style="display: table-cell;">
	<b>Nome completo:</b><br/>
	<%= pessoa.nome %>
	<p/>
	<b>Nome usual:</b><br/>
	<%= pessoa.nome_usual %>
	<p/>
	<b>WhatsApp:</b><br/>
	<%= pessoa.whatsapp %>
	<p/>

	<%
	    if pessoa.telefones.count > 1
	        titulo_telefones = "Telefones"
	        array_telefones = []
	        pessoa.telefones.each do |telefone|
	            array_telefones << "#{telefone.telefone} (#{telefone.operadora})"
	        end
	        string_telefones = array_telefones.join("<br/>")
	    else
	        titulo_telefones = "Telefone"
	        if pessoa.telefones.count == 1
	            telefone = pessoa.telefones.first
	            string_telefones = "#{telefone.telefone} (#{telefone.operadora})"
	        else
	            string_telefones = ""
	        end
	    end
	%>

	<b><%= titulo_telefones %> de contato:</b><br/>
	<%= raw string_telefones %>
	<p/>

	<b>Facebook:</b><br/>
	<%= link_to "Facebook", pessoa.url_facebook, target: '_blank', class: 'link_facebook' unless pessoa.url_facebook.blank? %>
	<p/>
	<b>Gênero:</b><br/>
	<%= (pessoa.eh_homem? ? "Homem" : "Mulher") %>
	<p/>
	<b>Data de nascimento:</b><br/>
	<%= pessoa.nascimento.strftime("%d/%m/%Y") unless pessoa.nascimento.blank? %>
	<p/>
	<b>Email:</b><br/>
	<%= link_to pessoa.email, "mailto:#{pessoa.email}", target: '_blank' unless pessoa.email.blank? %>
	<p/>
	<b>Endereço:</b><br/>
	<%= pessoa.endereco %>
	<p/>
	<b>Habilidades musicais:</b><br/>
	<%= pessoa.instrumentos.collect{|instrumento| instrumento.nome}.join(", ") %>
</div>

<% if pessoa.participacoes_em_grupos.count > 0 %>
		<h2 class="sem_espaco_embaixo">Grupos</h2>

    <ul class="bullets">
        <% pessoa.participacoes_em_grupos.each do |participacao| %>
          <li><span>
            <% coordenador = participacao[:grupo].coordenadores.include?(pessoa) ? ' (Coord.)' : '' %>

            <% if @usuario_logado.permissoes.pode_gerenciar_grupo participacao[:grupo] %>
                <%= link_to "#{participacao[:grupo].nome}#{coordenador}", mobile_grupo_path(participacao[:grupo].id) %>
            <% else %>
                <%= "#{participacao[:grupo].nome}#{coordenador}" %>
            <% end %>

            <% if !participacao[:ativo] %>
                (ex-participante)
            <% end %>
          </span></li>
        <% end %>
    </ul>
<% end %>

<% if participacoes.count > 0 %>
	<h2 class="sem_espaco_embaixo">Participações em encontros</h2>

  <ul class="bullets">
      <% participacoes.each do |conjunto| %>
        <% texto_encontro_participacao = "#{conjunto.encontro.nome} (#{conjunto.encontro.data_inicio.year})" %>

        <% cor = conjunto.cor.present? ? conjunto.cor.hex_cor : nil %>
        <% 
					if cor.present? 
						style = "color: #{cor};"
					else
						style = ""
					end 
				%>

        <li style="<%= style %>"><span>
          <% if @usuario_logado.permissoes.pode_gerenciar_encontro(conjunto.encontro) %>
              <%= link_to texto_encontro_participacao, mobile_encontro_path(conjunto.encontro) %>
          <% else %>
              <%= texto_encontro_participacao %>
          <% end %>

          -

          <% coordenador = conjunto.coordenadores.include?(pessoa) ? ' (Coord.)' : '' %>

          <%
            if conjunto.tipo == 'Equipe'
              texto_conjunto_participacao = "Equipe #{conjunto.nome}#{coordenador}"
            elsif conjunto.tipo == 'CoordenacaoEncontro'
              texto_conjunto_participacao = "Coordenação do Encontro"
            else
              texto_conjunto_participacao = "#{conjunto.tipo_do_conjunto} #{conjunto.nome}#{coordenador}"
            end
          %>    
          <% if @usuario_logado.permissoes.pode_gerenciar_conjunto(conjunto) %>
            <%= link_to texto_conjunto_participacao, mobile_conjunto_path(conjunto), style: style %>
          <% else %>
            <%= texto_conjunto_participacao %>
          <% end %>
        </span></li>
      <% end %>
  </ul>
<% end %>