<% ids_pessoas_ja_mostradas = [] %>

<% 
  if tipo_pagina == "relacionamentos"
    elementos_a_iterar = relacionamentos
    pessoas = relacionamentos.collect { |r| r.outra_pessoa }
  else
    elementos_a_iterar = pessoas
  end
%>

<% elementos_a_iterar.each do |elemento| %>

  <% 
    if tipo_pagina == "relacionamentos" 
      relacionamento = elemento
      pessoa = relacionamento.outra_pessoa
    else
      pessoa = elemento
    end
  %>

  <% if !ids_pessoas_ja_mostradas.include?(pessoa.id) %>
    <% ids_pessoas_ja_mostradas << pessoa.id %>

    <%
       if tipo_pagina == "pessoas_no_grupo" || tipo_pagina == "pessoas_no_conjunto"
         if tipo_pagina == "pessoas_no_grupo"
            relacionamento = RelacaoPessoaGrupo.where({:pessoa => pessoa, :grupo => grupo}).first
         elsif tipo_pagina == "pessoas_no_conjunto"
            relacionamento = RelacaoPessoaConjunto.where({:pessoa => pessoa, :conjunto_pessoas => conjunto}).first
         end
         eh_coordenador = relacionamento.eh_coordenador
       end
    %>

    <% nome = "#{pessoa.nome_usual}" %>
    <%= image_tag pessoa.url_imagem(30), class: 'imagem_pessoa_lista' %>

    <% if pessoa.conjuge.present? && (forcar_conjuges || pessoas.include?(pessoa.conjuge)) && !forcar_individual %>
      <% ids_pessoas_ja_mostradas << pessoa.conjuge.id %>
      <%= image_tag pessoa.conjuge.url_imagem(30), class: 'imagem_pessoa_lista' %>
      <% nome = "#{pessoa.nome_usual} / #{pessoa.conjuge.nome_usual}" %>
    <% end %>

    <div class="dados_pessoa">
      <%= link_to nome, mobile_pessoa_path(pessoa) %>
      <% if ((tipo_pagina == "pessoas_no_conjunto" && conjunto.tipo != "CoordenacaoEncontro") || tipo_pagina == "pessoas_no_grupo") && eh_coordenador %>
        - Coord.
      <% elsif tipo_pagina == "relacionamentos" %>
        - <%= relacionamento.relacionamento %>
      <% end %>

      <% if mostrar_telefones %>
        <br/>

        <span class="telefones">
          <% 
            telefones = []

            telefones = telefones.concat(pessoa.telefones.collect{|t| "#{t.telefone} (#{t.operadora})"})

            if pessoa.conjuge.present? && (forcar_conjuges || pessoas.include?(pessoa.conjuge))
              telefones = telefones.concat(pessoa.conjuge.telefones.collect{|t| "#{t.telefone} (#{t.operadora})"})
            end
          %>
          
          <%= telefones.join(" / ") %>
        </span>
      <% end %>
    </div>

    <br style="clear: both"/>

  <% end %>

<% end %>