<center> 
	<h1 style="margin: 0;">
		<%= @pessoa.nome_usual %>

		<% if @pessoa.conjuge.present? %>
			/ <%= @pessoa.conjuge.nome_usual %>
		<% end %>

	</h1>

	<%= link_to 'Editar Informações', mobile_editar_pessoa_path(@pessoa), class: 'link_editar' %>
</center>

<br style="clear: both;" />

<%= render 'shared/notificacao' %>

<%= render 'informacoes_pessoa', pessoa: @pessoa, participacoes: @participacoes %>

<% if @pessoa.conjuge.present? %>
    <%= render 'informacoes_pessoa', pessoa: @pessoa.conjuge, participacoes: @participacoes_conjuge %>
<% end %>