<script>
    $(function () {
        $(".link_enviar").on("click", function (e) {
            e.preventDefault();

            $(this).on('click', function (evento) {evento.preventDefault();});
            $(this).addClass('link_carregando');
            $(this).children('.texto').html('Carregando...');
            iniciarSpinners();
            
            $(this).closest("form").submit();
        });

        <% if conjunto.tipo_do_conjunto == "Equipe" %>
          $("#equipe_padrao_relacionada").on("change", function () {
            var idCor = $(this).find(":selected").data("cor");
            $("#cor_equipe").val(idCor);
          });
        <% end %>
    });
</script>

<%
   if conjunto.new_record?
     if conjunto.tipo == "Equipe"
        url = create_equipe_url(conjunto.encontro)
     elsif conjunto.tipo == "ConjuntoPermanente"
        url = create_conjunto_permanente_url(conjunto.encontro)
     end
   else
     url = equipe_post_url(conjunto)
   end
%>

<%= form_tag(url, class: 'espaco_embaixo') do %>

    <div class="field">

      <% if conjunto.tipo_do_conjunto == "Equipe" %>

        <%= label_tag "equipe", "Equipe*" %><br/>
        <div class="erro_form"><%= conjunto.errors[:nome].first %></div>
        <select name="equipe_padrao_relacionada" id="equipe_padrao_relacionada">
          <option value=""></option>
          <% conjunto.encontro.grupo.encontro_padrao.equipes.each do |equipe| %>
            <option value="<%= equipe.id %>" data-cor="<%= equipe.cor.present? ? equipe.cor.id : "" %>" <% if conjunto.equipe_padrao_relacionada.present? && conjunto.equipe_padrao_relacionada.id == equipe.id %>selected="selected"<% end %>>
              <%= equipe.nome %>
            </option>
          <% end %>
        </select>

      <% else %>

        <%= label_tag "nome", "Nome*" %><br/>
        <div class="erro_form"><%= conjunto.errors[:nome].first %></div>
        <%= text_field_tag :nome, conjunto.nome, size: 30 %>

      <% end %>
    </div>



    <div class="field">
      <label for="cor_id">
          <% if conjunto.tipo_do_conjunto == "Equipe" %>
            Cor do crachá
          <% else %>
            Cor
          <% end %>
      </label>
      <div class="erro_form"><%= conjunto.errors[:cor].first %></div>

      <%
         if conjunto.tipo_do_conjunto == "Equipe"
           cores = Cor.where(de_equipe: true).collect{|c| [c.nome, c.id]}
           id_select = 'cor_equipe'
         else
           cores = Cor.where(de_conjunto_permanente: true).collect{|c| [c.nome, c.id]}
           id_select = 'cor_conjunto_permanente'
         end
      %>

      <%= select_tag :cor_id, options_for_select(cores, (conjunto.cor.present? ? conjunto.cor.id : "")), include_blank: true, id: id_select %>
    </div>

    <br/>

    <a href="#" class="link_enviar link_submeter" style="margin-right: 10px; position: relative;">
      <span class="img_spinner" style="display: none;" data-corspinner="#aaa"></span>
      <span class="texto">
        <% if conjunto.new_record? %>
          Criar
        <% else %>
          Salvar
        <% end %>
      </span>
    </a>

    <% if conjunto.new_record? %>
        <a href="#" id="link_cancelar_<%= conjunto.tipo %>" class="link_remover">
          Cancelar
        </a>
    <% end %>

<% end %>