<script src="<%= lista_pessoas_js_url %>"></script>

<script>
    var listaPessoas;

    function recarregar() {
        listaPessoas.carregar();
    }

    $(function () {
        $("#link_enviar_relatorio").on("click", function (e) {
          e.preventDefault();
          $("#overlay_carregando_upload_relatorio").show();
          $(this).closest("form").submit();
        });

        listaPessoas = new ListaPessoas($("#pessoas_no_conjunto"),
                "pessoas_no_conjunto",
                true,
                "conjunto_id",
                <%= @conjunto.id %>,
                true,
                true,
                function () {
                    $(".checkbox_coordenador").on("click", function(e) {
                        var pessoa_id = $(this).data("pessoa_id");
                        var eh_coordenador = $(this).is(":checked");
                        var page = $(this).data("page");

                        $.post("<%= setar_coordenador_de_conjunto_url %>",
                                {
                                    "pessoa_id": pessoa_id,
                                    "conjunto_id": <%= @conjunto.id %>,
                                    "eh_coordenador": eh_coordenador,
                                    "page": page
                                },
                                function(response) {
                                    if (response == "erro") {
                                        alert("Erro ao setar coordenador");
                                    }
                                    else {
                                        recarregar(response);
                                    }
                                }
                        );
                    });
                });
        listaPessoas.inicializar();

        $("#remover_relatorio").on("click", function (evento) {
          evento.preventDefault();

          $("#overlay_carregando_remover_relatorio").show();

          $.post("<%= remover_relatorio_url(id: @conjunto.id) %>",
                  {
                    "id": <%= @conjunto.id %>
                  },
                  function(response) {
                    if (response == "ok") {
                      $("#informacoes_relatorio").hide();
                      $("#campo_upload_relatorio").show();
                      $("#overlay_carregando_remover_relatorio").hide();
                    }
                    else {
                      alert("Erro ao remover o relatório");
                    }
                  }
          );
        });
    });
</script>

<script>
    $(function () {
        var opts = {
            lines: 7, // The number of lines to draw
            length: 4, // The length of each line
            width: 3, // The line thickness
            radius: 2, // The radius of the inner circle
            corners: 0, // Corner roundness (0..1)
            rotate: 0, // The rotation offset
            direction: 1, // 1: clockwise, -1: counterclockwise
            color: '#fff', // #rgb or #rrggbb or array of colors
            speed: 1, // Rounds per second
            trail: 60, // Afterglow percentage
            shadow: false, // Whether to render a shadow
            hwaccel: false, // Whether to use hardware acceleration
            className: 'spinner', // The CSS class to assign to the spinner
            zIndex: 2e9, // The z-index (defaults to 2000000000)
            top: '12px', // Top position relative to parent
            left: '12px' // Left position relative to parent
        };
        var target = document.getElementById('img_spinner');
        var spinner = new Spinner(opts).spin(target);

        var targetUploadRelatorio = document.getElementById('img_spinner_upload_relatorio');
        var spinnerUploadRelatorio = new Spinner(opts).spin(targetUploadRelatorio);

        var targetRemoverRelatorio = document.getElementById('img_spinner_remover_relatorio');
        var spinnerRemoverRelatorio = new Spinner(opts).spin(targetRemoverRelatorio);
    });
</script>

<%= render_breadcrumbs "conjunto" %>

<h1><%= @titulo %></h1>

<% if @conjunto.tipo == 'ConjuntoPermanente' && @usuario_logado.permissoes.pode_editar_recomendacoes(@conjunto) %>
  <%= link_to 'Recomendações do coordenador', recomendacoes_path(@conjunto), class: 'link_recomendacoes'  %>
  <p/>
<% end %>

<b>Encontro:</b> <%= @conjunto.encontro.nome %><br/>
<b>Data:</b> <%= @conjunto.encontro.data %>

<p/>

<% if @conjunto.tipo != 'CoordenacaoEncontro' && @usuario_logado.permissoes.pode_editar_conjunto(@conjunto) %>
    <%= render 'form', conjunto: @conjunto %>
<% end %>

<% if @conjunto.tipo == 'Equipe' && @usuario_logado.permissoes.pode_editar_conjunto(@conjunto) %>

  <%= form_tag(:upload_relatorio, :html => { :multipart => true }, :remote => true, class: 'espaco_embaixo') do %>

    <input type="hidden" name="id" value="<%= @conjunto.id %>" />

    <div class="field">
      <%= label_tag "relatorio", "Relatório" %><br/>

      <div id="informacoes_relatorio" style="position: relative; <% if !@conjunto.relatorio.exists? %>display: none<% end %>">
        <div class="overlay_carregando" id="overlay_carregando_remover_relatorio" style="display: none;">
          <div class="overlay_carregando_fundo"></div>
          <div class="overlay_carregando_texto">
            <span id="img_spinner_remover_relatorio"></span>
            Carregando...
          </div>
          <br/>
        </div>

        <%
           if @conjunto.relatorio.present?
             url_link = @conjunto.relatorio.url(download: true)
             texto_link = @conjunto.relatorio_file_name
             classe_link = "arquivo_#{@conjunto.tipo_de_arquivo}"
           end
        %>
        <a href="<%= url_link %>" id="link_relatorio" class="<%= classe_link %>"><%= texto_link %></a>
        <a href="#" id="remover_relatorio" class="link_remover">Remover</a>
      </div>

      <div id="campo_upload_relatorio" style="position: relative; <% if @conjunto.relatorio.present? %>display: none<% end %>">
        <div class="overlay_carregando" id="overlay_carregando_upload_relatorio" style="height: 40px; display: none;">
          <div class="overlay_carregando_fundo"></div>
          <div class="overlay_carregando_texto">
            <span id="img_spinner_upload_relatorio"></span>
            Enviando...
          </div>
          <br/>
        </div>

        <div class="erro_form"><%= @conjunto.errors[:relatorio].first %></div>
        <%= file_field_tag :relatorio %>
        <a href="#" id="link_enviar_relatorio" class="link_upload" style="margin-right: 10px">Enviar</a>
      </div>
    </div>
  <% end %>
<% end %>

<%= render 'shared/notificacao' %>

<div id="pessoas_no_conjunto" style="position: relative;">
  <div class="overlay_carregando overlay_carregando_aparecer_logo">
    <div class="overlay_carregando_fundo"></div>
    <div class="overlay_carregando_texto">
      <span id="img_spinner"></span>
      Carregando...
    </div>
    <br/>
  </div>
</div>

<% if @usuario_logado.permissoes.pode_editar_conjunto(@conjunto) %>

    <% if @usuario_logado.permissoes.pode_criar_pessoas_em_grupo(@conjunto.encontro.grupo) %>
        <h2>Adicionar pessoa:</h2>

        <%
            if @conjunto.tipo == 'Equipe'
              texto_link = "à equipe #{@conjunto.nome} e ao grupo #{@conjunto.encontro.grupo.nome}"
              url_link = equipe_criar_pessoa_path(@conjunto)
            elsif @conjunto.tipo == 'CoordenacaoEncontro'
              texto_link = "à coordenação do #{@conjunto.encontro.nome} e ao grupo #{@conjunto.encontro.grupo.nome}"
              url_link = encontro_coordenadores_criar_pessoa_path(@conjunto.encontro)
            else
              texto_link = "ao #{@conjunto.tipo_do_conjunto} #{@conjunto.encontro.nome} e ao grupo #{@conjunto.encontro.grupo.nome}"
              url_link = circulo_criar_pessoa_path(@conjunto)
            end
        %>

        <%= link_to "Criar nova pessoa e adicionar #{texto_link}", url_link, class: 'link_novo'  %>

        <% titulo_busca = '...ou adicionar pessoa já cadastrada no sistema' %>
    <% else %>
        <% titulo_busca = 'Adicionar pessoa já cadastrada no sistema' %>
    <% end %>

    <h3><%= titulo_busca %></h3>

    <%= render 'pessoas/pesquisa_pessoas_por_nome', tipo_pesquisa: "pesquisa_conjunto" %>
<% end %>