<script src="<%= lista_pessoas_js_url %>"></script>

<script>
  var listaPessoas;

  function recarregar() {
    listaPessoas.carregar();
  }

  $(function () {
    listaPessoas = new ListaPessoas($("#recomendacoes"),
            "recomendacoes",
            false,
            "conjunto_id",
            <%= @conjunto.id %>,
            false,
            true,
            function () {
                $("#link_salvar_recomendacoes").show();
            });
    listaPessoas.inicializar();

    $("#link_salvar_recomendacoes").on("click", function () {
      $(this).closest("form").submit();
    });
  });
</script>

<%= render_breadcrumbs "recomendacoes" %>

<h1>Recomendações do Coordenador</h1>

<p/>

<%= form_tag :recomendacoes_post do %>

    <div id="recomendacoes" style="position: relative;">
      <div class="overlay_carregando overlay_carregando_aparecer_logo">
        <div class="overlay_carregando_fundo"></div>
        <div class="overlay_carregando_texto">
          <span class="img_spinner"></span>
          Carregando...
        </div>
        <br/>
      </div>
    </div>

    <div class="actions">
      <%= link_to 'Salvar recomendações', '#', class: 'link_submeter', id: 'link_salvar_recomendacoes', style: 'display: none' %>
    </div>


<% end %>