<% if defined? @usuario_logado %>

    <script type="text/javascript">
        $(function () {
            $(".tem_submenu > a").on("mouseenter", function () {
                // Esconde todos os submenu
                $(".submenu").hide();

                // Mostra só o submenu específico
                $pai = $(this).closest(".tem_submenu");
                $pai.find(".submenu").show();
            });

            $(".submenu").on("mouseleave", function () {
                $(this).hide();
            });
        });
    </script>

    <% quantas_pessoas_a_confirmar = @usuario_logado.ids_pessoas_a_confirmar.count %>
    <% if quantas_pessoas_a_confirmar > 0 %>
        <%= link_to pessoas_a_confirmar_path, class: 'atencao' do %>
            <%= quantas_pessoas_a_confirmar %> pendente<%= "s" if quantas_pessoas_a_confirmar > 1 %>
        <% end %>
    <% end %>

    <% if @usuario_logado.eh_super_admin %>
        <script type="text/javascript">
            $(function () {
                $("#fazer_login_com_id").on("click", function (e) {
                    e.preventDefault();
                    if ($("#id").val() != "") {
                        $(this).closest("form").submit();    
                    }
                });
            });
        </script>
        <form method="post" action="<%= login_com_id_url %>" style="display: inline-block;">
            <a href="#" id="fazer_login_com_id">Fazer login com ID</a><input type="text" name="id" id="id" size="3"/>
        </form>
    <% end %>

    <% if @usuario_logado.permissoes.pode_pesquisar_pessoas %>
        <%= link_to "Pesquisar pessoas", pesquisar_pessoas_path, class: "pesquisar_pessoas" %>
    <% end %>

    <% if @usuario_logado.eh_super_admin %>
        <%= link_to "Grupos", grupos_path %>
        <%= link_to "Pessoas", pessoas_path %>
    <% else %>
        <% encontros_que_esta_coordenando_agora = @usuario_logado.encontros_que_esta_coordenando_agora %>

        <% if encontros_que_esta_coordenando_agora.count > 0 %>
            <span class="tem_submenu">
                <a href="#">Encontros Abertos ▼</a>
                <div class="submenu">
                    <span class="titulo">Encontros Abertos ▼</span>
                    <div class="conteudo">
                        <table>
                            <tr>
                                <td nowrap>
                                    Encontros aos quais você tem acesso<br/>e para os quais o sistema está aberto no momento
                                </td>
                                <td nowrap>
                                    <% encontros_que_esta_coordenando_agora.each do |encontro| %>
                                        <%= link_to encontro.nome, encontro %><br/>
                                    <% end %>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </span>
        <% end %>

        <% equipes_que_esta_coordenando_agora = @usuario_logado.equipes_que_esta_coordenando_agora.select{|e| e.tipo == 'Equipe'} %>

        <% if equipes_que_esta_coordenando_agora.count > 0 %>
            <span class="tem_submenu">
                <a href="#">Equipes atuais ▼</a>
                <div class="submenu">
                    <span class="titulo">Equipes atuais ▼</span>
                    <div class="conteudo">
                        <table>
                            <tr>
                                <td nowrap>
                                    Equipes que você está<br/>coordenando no momento
                                </td>
                                <td nowrap>
                                    <% equipes_que_esta_coordenando_agora.each do |equipe| %>
                                        <%= link_to "#{equipe.nome} - #{equipe.encontro.nome}", equipe %><br/>
                                    <% end %>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </span>
        <% end %>

        <% grupos_que_coordena = @usuario_logado.grupos_que_coordena %>

        <% if grupos_que_coordena.count > 0 %>
            <span class="tem_submenu">
                <a href="#">Grupos ▼</a>
                <div class="submenu">
                    <span class="titulo">Grupos ▼</span>
                    <div class="conteudo">
                        <table>
                            <tr>
                                <td nowrap>
                                    Grupos aos quais você<br/>tem acesso
                                </td>
                                <td nowrap>
                                    <% grupos_que_coordena.each do |grupo| %>
                                        <%= link_to grupo.nome, grupo %><br/>
                                    <% end %>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </span>
        <% end %>

        <% conjuntos_permanentes = @usuario_logado.conjuntos_permanentes %>

        <% if conjuntos_permanentes.count > 0 %>
            <span class="tem_submenu">
                <a href="#">Famílias ▼</a>
                <div class="submenu">
                    <span class="titulo">Famílias ▼</span>
                        <div class="conteudo">
                            <table>
                                <tr>
                                    <td nowrap>
                                        Famílias formadas durante<br/>os encontros
                                    </td>
                                    <td nowrap>
                                        <% conjuntos_permanentes.each do |conjunto_permanente| %>
                                            <% classe_css = conjunto_permanente.cor.present? ? conjunto_permanente.cor.classe_css : "" %>
                                            <%= link_to "#{conjunto_permanente.encontro.denominacao_conjuntos_permanentes} #{conjunto_permanente.nome}", circulo_path(conjunto_permanente), class: "#{classe_css}" %><br/>
                                        <% end %>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </span>
                </div>
            </span>
        <% end %>
    <% end %>

<% end %>