<% if defined? @usuario_logado %>

    <% quantas_pessoas_a_confirmar = @usuario_logado.ids_pessoas_a_confirmar.count %>
    <% if quantas_pessoas_a_confirmar > 0 %>
        <%= link_to pessoas_a_confirmar_path, class: 'atencao' do %>
            <%= quantas_pessoas_a_confirmar %> pessoa<%= "s" if quantas_pessoas_a_confirmar > 1 %> a confirmar
        <% end %>
    <% end %>

    <% if @usuario_logado.eh_super_admin %>
        <script type="text/javascript">
            $(function () {
                $("#fazer_login_com_id").on("click", function (e) {
                    e.preventDefault();
                    if ($("#id").val() != "") {
                        $(this).closest("form").submit();    
                    }
                });
            });
        </script>
        <form method="post" action="<%= login_com_id_url %>" style="display: inline-block;">
            <a href="#" id="fazer_login_com_id">Fazer login com ID</a><input type="text" name="id" id="id" size="3"/>
        </form>
    <% end %>

    <% if @usuario_logado.eh_super_admin || @usuario_logado.grupos_que_tem_encontros_que_coordena.count > 0 %>
        <%= link_to 'Pesquisar pessoas', pesquisar_pessoas_path %>
    <% end %>

    <% if @usuario_logado.eh_super_admin %>
        <%= link_to "Grupos", grupos_path %>
        <%= link_to "Pessoas", pessoas_path %>
    <% else %>
        <% @usuario_logado.grupos_que_coordena.each do |grupo| %>
            <%= link_to grupo.nome, grupo %>
        <% end %>

        <% @usuario_logado.equipes_em_que_esta_participando_agora.each do |equipe| %>
            <% if equipe.tipo == 'Equipe' %>
                <%= link_to equipe.nome, equipe %>
            <% end %>
        <% end %>

        <% @usuario_logado.conjuntos_permanentes.each do |conjunto_permanente| %>
            <% classe_css = conjunto_permanente.cor.present? ? conjunto_permanente.cor.classe_css : "" %>
            <%= link_to "#{conjunto_permanente.encontro.denominacao_conjuntos_permanentes} #{conjunto_permanente.nome}", circulo_path(conjunto_permanente), class: "#{classe_css}" %>
        <% end %>

        <% @usuario_logado.encontros_que_esta_coordenando_agora.each do |encontro| %>
            <%= link_to encontro.nome, encontro %>
        <% end %>
    <% end %>

<% end %>