<!DOCTYPE html>
<html>
<head>
    <%= favicon_link_tag 'favicon.ico' %>

    <title>noeh</title>

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag "mobile_estilo.css" %>
    <%= stylesheet_link_tag "ui-darkness/jquery-ui-1.10.4.custom.min.css" %>

    <%= javascript_include_tag "application" %>

    <%= yield(:head) %>
    
    <%= csrf_meta_tags %>
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<body>

    <div id="fb-root"></div>

    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '<%= APP_CONFIG['id_app_facebook'] %>',
                version    : 'v2.0',
                status     : false, // check login status
                cookie     : false, // enable cookies to allow the server to access the session
                xfbml      : true  // parse XFBML
            });
        };

        // Load the SDK Asynchronously
        (function(d){
            var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
            js = d.createElement('script'); js.id = id; js.async = true;
            js.src = "//connect.facebook.com/pt_BR/all.js";
            d.getElementsByTagName('head')[0].appendChild(js);
        }(document));

        $(function () {
            $("#faixa_superior .link_topo").click(function (e) {
                e.preventDefault();
                var url = $(this).data("url");
                window.location.href = url;
            });

            $(".link_menu, #faixa_superior_menu .link_logo").click(function (e) {
                e.preventDefault();
                $("#menu").toggle();
                $("#faixa_superior").toggle();
                $("#conteudo").toggle();
                $("#rodape").toggle();
            });
        });
    </script>

    <table id="faixa_superior">
        <tr valign="middle">
            <% if defined? @usuario_logado %>
                <% if @usuario_logado.eh_super_admin  || @usuario_logado.permissoes.pode_pesquisar_pessoas || @usuario_logado.encontros_que_esta_coordenando_agora.count > 0 || @usuario_logado.equipes_que_esta_coordenando_agora.select{|e| e.tipo == 'Equipe'}.count > 0 || @usuario_logado.grupos_que_coordena.count > 0 || @usuario_logado.conjuntos_permanentes.count > 0 %>
                    <td class="link_menu">
                        <%= image_tag 'menu_laranja.png' %>
                    </td>
                <% end %>
            <% end %>

            <td class="filler">
            </td>

            <td class="link_logo link_topo" data-url="<%= mobile_index_path %>">
                <%= image_tag 'noeh25_branco.png' %>
            </td>

            <td class="filler">
            </td>

            <% if defined? @usuario_logado %>
                <td class="link_usuario_logado link_topo" data-url="<%= mobile_pessoa_path(@usuario_logado) %>">
                    <%= @usuario_logado.nome_usual %>
                    <img src="<%= @usuario_logado.url_imagem(25) %>" />
                </td>

                <td class="sair_fb link_topo" data-url="<%= log_out_path %>">
                    Sair
                </td>
            <% end %>
        </tr>
    </table>

    <% if defined? @usuario_logado %>
        <div id="menu">
            <table id="faixa_superior_menu">
                <tr valign="middle">
                    <td class="link_menu">
                        <%= image_tag 'menu_preto.png' %>
                    </td>

                    <td class="filler">
                    </td>

                    <td class="link_logo link_topo" data-url="<%= mobile_index_path %>">
                        <%= image_tag 'noeh25_laranja_todo.png' %>
                    </td>

                    <td class="filler">
                    </td>

                    <td class="link_usuario_logado link_topo" data-url="<%= mobile_pessoa_path(@usuario_logado) %>">
                        <%= @usuario_logado.nome_usual %>
                        <img src="<%= @usuario_logado.url_imagem(25) %>" />
                    </td>

                    <td class="sair_fb link_topo" data-url="<%= log_out_path %>">
                        Sair
                    </td>
                </tr>
            </table>

            <div id="conteudo_menu">
                <%= render 'layouts/menu_mobile' %>
            </div>
        <% end %>

    </div>

    <div id="container">
        <div id="conteudo">
            <%= yield %>
            <br style="clear: both;" />
        </div>
    </div>

    <div id="rodape">
      Desenvolvido por <a href="http://jpribeiro.com" target="_blank">João Paulo Ribeiro</a><br/>
      <a href="http://jpribeiro.com" target="_blank">jpribeiro.com</a>
      | <a href="mailto: joao@jpribeiro.com">joao@jpribeiro.com</a>
      | <%= link_to 'Política de privacidade', privacidade_path %>
    </div>

    <div id="dialog">
        <div id="dialog_overlay"></div>
        <div id="dialog_conteudo"></div>
    </div>

</body>
</html>
